## 4: FOURTH ALGORITHM - FROM WHAT CATEGORIES?

Outcome (example):
1. input: DAY, TIME, STORE
2. output: CATEGORIES

### Import libraries

In [18]:
# %matplotlib notebook
%matplotlib inline
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
import dataframe_image as dfi
from datetime import time
import matplotlib.dates as mdates
from matplotlib.ticker import StrMethodFormatter
from matplotlib.pyplot import figure

### Load and view data

In [19]:
# data for different stores vs time
df_AHmornings = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_AHmornCAT.csv")
df_AHnoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_AHnoonCAT.csv")
df_AHafternoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_AHafterCAT.csv")

df_SYSmornings = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SYSmornCAT.csv")
df_SYSnoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SYSnoonCAT.csv")
df_SYSafternoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SYSafterCAT.csv")

df_OKAYmornings = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_OKAYmornCAT.csv")
df_OKAYnoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_OKAYnoonCAT.csv")
df_OKAYafternoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_OKAYafterCAT.csv")

df_VERSAVELmornings = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_VERSmornCAT.csv")
df_VERSAVELnoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_VERSnoonCAT.csv")
df_VERSAVELafternoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_VERSafterCAT.csv")

df_DELHAIZEmornings = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_DELHmornCAT.csv")
df_DELHAIZEnoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_DELHnoonCAT.csv")
df_DELHAIZEafternoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_DELHafterCAT.csv")

df_KRUIDVATmornings = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_KRUIDmornCAT.csv")
df_KRUIDVATnoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_KRUIDnoonCAT.csv")
df_KRUIDVATafternoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_KRUIDafterCAT.csv")

df_BRABOmornings = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_BRAmornCAT.csv")
df_BRABOnoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_BRAnoonCAT.csv")
df_BRABOafternoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_BRAafterCAT.csv")

df_IKEAmornings = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_IKEAmornCAT.csv")
df_IKEAnoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_IKEAnoonCAT.csv")
df_IKEAafternoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_IKEAafterCAT.csv")

df_CARREFOURmornings = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_CATmornCAT.csv")
df_CARREFOURnoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_CATnoonCAT.csv")
df_CARREFOURafternoons = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_CARafterCAT.csv")

# Supermarkets

## ALBERT HEIJN

In [29]:
df_AHmornings

             category  weight
0  fruit & vegetables       3
1              snacks       2

In [28]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_AHmorning = df_AHmornings.sample(n=AMOUNT, weights='weight') 
df_AHmorning

  category  weight
1   snacks       2

In [26]:
df_AHnoons

              category  weight
0               bakery       1
1   fruit & vegetables       6
2  meat, fish & veggie       1
3               snacks       1

In [21]:
# filter = amount of categories selected (define filter)
AMOUNT = 6

#create random samples for this based on the assigned weights
df_AHnoon = df_AHnoons.sample(n=AMOUNT, weights='weight')
df_AHnoon

ValueError: Cannot take a larger sample than population when 'replace=False'

In [25]:
df_AHafternoons

              category  weight
0               bakery       1
1            beverages       1
2  breakfast & spreads       1
3  dairy & plant based       1
4   fruit & vegetables       1
5  meat, fish & veggie       1
6             non-food       1
7         pasta & rice       1
8               snacks       1

In [23]:
# filter = amount of categories selected (define filter)
AMOUNT = 6

#create random samples for this based on the assigned weights
df_AHafternoon = df_AHafternoons.sample(n=AMOUNT, weights='weight')
df_AHafternoon

              category  weight
5  meat, fish & veggie       1
8               snacks       1
7         pasta & rice       1
2  breakfast & spreads       1
4   fruit & vegetables       1
1            beverages       1

## OKAY

In [11]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_OKAYmorning = df_OKAYmorning.sample(n=AMOUNT, weights='weight') 
df_OKAYmorning

                    category  weight
8  nuts, seeds & dried fruit       2
4        dairy & plant based       2
0                  beverages       2
6         fruit & vegetables       2
5               frozen foods       2

In [12]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_OKAYnoon = df_OKAYnoon.sample(n=AMOUNT, weights='weight')
df_OKAYnoon

       category  weight
1  canned foods       1

In [13]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_OKAYafternoon = df_OKAYafternoon.sample(n=AMOUNT, weights='weight')
df_OKAYafternoon

    category  weight
1  beverages       3

## DELHAIZE

In [36]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_DELHAIZEmorning = df_DELHAIZEmorning.sample(n=AMOUNT, weights='weight') 
df_DELHAIZEmorning

             category  weight
6  fruit & vegetables       2

In [17]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_DELHAIZEafternoon = df_DELHAIZEafternoon.sample(n=AMOUNT, weights='weight')
df_DELHAIZEafternoon

              category  weight
6  meat, fish & veggie       1

## CARREFOUR

In [20]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_CARREFOURafternoon = df_CARREFOURafternoon.sample(n=AMOUNT, weights='weight')
df_CARREFOURafternoon

     category  weight
2  condiments       1

# Butchers & bakery

## BRABO

In [23]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_BRABOafternoon = df_BRABOafternoon.sample(n=AMOUNT, weights='weight')
df_BRABOafternoon

              category  weight
0  meat, fish & veggie       1

## VERSAVEL-POELMAN

In [17]:
# filter = amount of categories selected (define filter)
AMOUNT = 2

#create random samples for this based on the assigned weights
df_VERSAVELmorning = df_VERSAVELmornings.sample(n=AMOUNT, weights='weight') 
df_VERSAVELmorning

              category  weight
1  meat, fish & veggie       3
0  dairy & plant based       1

## SYS

In [29]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_SYSmorning = df_SYSmornings.sample(n=AMOUNT, weights='weight') 
df_SYSmorning

              category  weight
0               bakery      11
1  dairy & plant based       1

In [30]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_SYSnoon = df_SYSnoons.sample(n=AMOUNT, weights='weight')
df_SYSnoon

  category  weight
0   bakery       1

# Other (drugstore & furniture store)

## KRUIDVAT

In [35]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_KRUIDVATafternoon = df_KRUIDVATafternoon.sample(n=AMOUNT, weights='weight')
df_KRUIDVATafternoon

    category  weight
0  beverages       1

## IKEA

In [34]:
# filter = amount of categories selected (define filter)
AMOUNT = 1

#create random samples for this based on the assigned weights
df_IKEAmorning = df_IKEAmorning.sample(n=AMOUNT, weights='weight') 
df_IKEAmorning

    category  weight
0  beverages       1