## 4: FILTER - HOW MANY CAT FOR EACH STORE (name)?

### Import libraries

In [53]:
# %matplotlib notebook
%matplotlib inline
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
import dataframe_image as dfi
from datetime import time
import matplotlib.dates as mdates
from matplotlib.ticker import StrMethodFormatter
from matplotlib.pyplot import figure

### Load and view data

In [54]:
# data for different stores vs cat count
df_AlbertHeijns = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_AHcatcount.csv")
df_Syss = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SYcatcount.csv")
df_Okays = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_OKcatcount.csv")
df_Delhaizes = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_DEcatcount.csv")
df_Versavels = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_VEcatcount.csv")
df_Kruidvats = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_KRcatcount.csv")
df_Brabos = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_BRcatcount.csv")
df_Ikeas = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_IKcatcount.csv")
df_Carrefours = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_CAcatcount.csv")

# Supermarkets

In [55]:
#create random samples for this day based on the assigned weights
df_AlbertHeijn = df_AlbertHeijns.sample(n=1, weights='weight') 
df_AlbertHeijn

   count_cat  weight
0          1       6

In [20]:
#create random samples for this day based on the assigned weights
df_Okay = df_Okays.sample(n=1, weights='weight')
df_Okay

   count_cat  weight
2          8       1

In [21]:
#create random samples for this day based on the assigned weights
df_Delhaize = df_Delhaizes.sample(n=1, weights='weight')
df_Delhaize

   count_cat  weight
2          8       1

In [22]:
#create random samples for this day based on the assigned weights
df_Carrefour = df_Carrefours.sample(n=1, weights='weight')
df_Carrefour

   count_cat  weight
0          7       1

# Butchers & bakery

In [34]:
#create random samples for this day based on the assigned weights
df_Versavel = df_Versavels.sample(n=1, weights='weight')
df_Versavel

   count_cat  weight
1          2       1

In [24]:
#create random samples for this day based on the assigned weights
df_Sys = df_Syss.sample(n=1, weights='weight')
df_Sys

   count_cat  weight
0          1      10

In [25]:
#create random samples for this day based on the assigned weights
df_Brabo = df_Brabos.sample(n=1, weights='weight')
df_Brabo

   count_cat  weight
0          1       1

# Other (drugstore & furniture store)

In [26]:
#create random samples for this day based on the assigned weights
df_Kruidvat = df_Kruidvats.sample(n=1, weights='weight')
df_Kruidvat

   count_cat  weight
0          3       1

In [27]:
#create random samples for this day based on the assigned weights
df_Ikea = df_Ikeas.sample(n=1, weights='weight')
df_Ikea

   count_cat  weight
0          1       1