## 4: CORRELATIONS - FROM WHAT CATEGORIES?

1. Correlations types-categories?
2. Most bought categories?
3. Aggregate categories - regroup


1. Top 10 products & other graphs
2. Filters -- per day, per store...

### Import libraries

In [58]:
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
import dataframe_image as dfi

from matplotlib.ticker import StrMethodFormatter

# importing the required function for correlations
from scipy.stats import chi2_contingency

### Load and view data

In [59]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH4\df\df_HH4.csv")
df.describe()

,week,order_ID,amount,price_unit,price_total,item_id,type_id,order_amount,order_price,day_num,storetype_num,storename_num,cat_num,time_num,promo_num,timestamp,times_min,dates_days
count,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,6.480000e+02,648.000000,6.480000e+02
mean,4.662037,39.641975,1.103395,2.087888,2.314648,179.472222,58.462963,11.552469,24.003141,2.983025,0.925926,1.873457,7.839506,0.780864,0.038580,1.641216e+18,1610.188272,2.021588e+07
std,2.299448,21.818449,0.419893,1.322498,1.976697,119.802694,53.138516,4.508658,11.114235,1.855196,0.262094,0.404043,4.414622,1.152165,0.192741,2.264996e+15,252.240976,4.476960e+03
min,1.000000,1.000000,1.000000,0.180320,0.180320,0.000000,0.000000,1.000000,1.520000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.637776e+18,810.000000,2.021112e+07
25%,3.000000,21.000000,1.000000,1.190000,1.210000,78.000000,13.000000,8.000000,15.800000,2.000000,1.000000,2.000000,4.000000,0.000000,0.000000,1.639073e+18,1517.000000,2.021121e+07
50%,5.000000,41.000000,1.000000,1.695000,1.810000,174.500000,41.000000,12.000000,22.520000,3.000000,1.000000,2.000000,8.000000,0.000000,0.000000,1.642176e+18,1738.000000,2.022011e+07
75%,7.000000,58.000000,1.000000,2.790000,2.910000,272.250000,94.250000,15.000000,28.673560,5.000000,1.000000,2.000000,10.000000,1.000000,0.000000,1.643372e+18,1755.000000,2.022013e+07
max,8.000000,76.000000,7.000000,7.890000,24.430000,416.000000,187.000000,24.000000,62.190000,6.000000,1.000000,2.000000,16.000000,3.000000,1.000000,1.644341e+18,1935.000000,2.022021e+07

In [60]:
# use the corr function to display the correlation between all the features
data_corr = df.corr()
# data_corr

# 1. GENERAL CORRELATIONS: time/day/storetype-name

## 1.1. CORRELATION 1: categories vs time

In [61]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['category'],columns=df['time'])

CrosstabResult

# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 1.6606583477408785e-07

## 1.2. CORRELATION 2: categories vs day

In [62]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['category'],columns=df['day'])

CrosstabResult

# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 0.3977471450109483

## 1.3.1 CORRELATION 3: categories vs store

### 1.3.1 categories vs store type

In [63]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['category'],columns=df['store_type'])

CrosstabResult

# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 2.2032493400142205e-21

### 1.3.2. categories vs store name

In [64]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['category'],columns=df['store_name'])

CrosstabResult

# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 3.564936767715989e-27

## 1.4. CORRELATION 2: categories vs week

In [65]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['category'],columns=df['week'])

display(CrosstabResult)

# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

week                        1   2   3   4   5   6   7   8
category
bakery                      8   6   6   5  11  11  16   5
bakery                      0   0   0   1   0   0   0   0
beverages                   5   5  11   8   3   4  11   7
breakfast & spreads         4   0   1   1   6   1   3   3
canned foods                4   5   0   0   8   1   3   7
care & hygiene              1   1   1   3   2   3   5   3
condiments                  1   0   2   1   1   1   1   2
cooking aids                0   3   1   5   3   1   0   4
dairy & plant based        14  15  18  15  18  14  18  17
frozen foods                1   2   2   3   2   0   1   2
fruit & vegetables         16  21  17  21  13  14  26  23
household                   1   4   2   1   0   1   1   3
meat, fish & veggie         8   7   6   7   5   7   9   5
non-food                    2   3   7   0   2   1   0   0
nuts, seeds & dried fruit   1   1   3   1   1   3   3   4
pasta & rice                1   0   4   0   0   0   0   0
snacks                      1   6   4   5   8   3   4   5

The P-Value of the ChiSq Test is: 0.02742817184825458

Per week, the categories vary (they buy different things, thus we cannot use this as a steady limits variable)

In [66]:
# group per period 1 and 2
df2 = df.copy()
df2['week'] = df2['week'].replace([1, 2, 3, 4], 1)
df2['week'] = df2['week'].replace([5, 6, 7, 8], 2)

In [67]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df2['category'],columns=df2['week'])

# display(CrosstabResult)

# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 0.03523204079931992

#### Are they comparable per period (before and after NY)?

Before NY (first 4 weeks)

In [68]:
# group per period 1 and 2
df3 = df.copy()
df3 = df3[df3['week'] < 5]

In [69]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df3['category'],columns=df3['week'])

# display(CrosstabResult)

# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 0.12285752597388357

After NY (last 4 weeks)

In [74]:
# group per period 1 and 2
df4 = df.copy()
df4 = df4[df4['week'] > 4]

In [75]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df4['category'],columns=df4['week'])

display(CrosstabResult)

# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

week                        5   6   7   8
category
bakery                     11  11  16   5
beverages                   3   4  11   7
breakfast & spreads         6   1   3   3
canned foods                8   1   3   7
care & hygiene              2   3   5   3
condiments                  1   1   1   2
cooking aids                3   1   0   4
dairy & plant based        18  14  18  17
frozen foods                2   0   1   2
fruit & vegetables         13  14  26  23
household                   0   1   1   3
meat, fish & veggie         5   7   9   5
non-food                    2   1   0   0
nuts, seeds & dried fruit   1   3   3   4
snacks                      8   3   4   5

The P-Value of the ChiSq Test is: 0.37719125194144143

#### Yes, in the four weeks (split) they buy comparable categories (but not over the entire period, the two periods thus differ from each other)

-
# 2. SPECIFIC CORRELATIONS: introduce third variable (day/time/store/time)

In [18]:
# define data
store1 = 'Albert Heijn'
store2 = 'MCD'
store3 = 'De Pers'

# select only these data for the df
df_store1 = df[df['store_name'] == store1]
df_store2 = df[df['store_name'] == store2]
df_store3 = df[df['store_name'] == store3]

In [19]:
# to select only one
storet1 = 'supermarket'
storet2 = 'minimarket'

# select only these data for the df
df_storet1 = df[df['store_type'] == storet1]
df_storet2 = df[df['store_type'] == storet2]

-
## 2.1. SPEFICIC - PER STORE

#### 2.1.2.1. vs store name

In [21]:
# Cross tabulation between category and day
CrosstabResult1=pd.crosstab(index=df_store1['category'],columns=df_store1['time'])
CrosstabResult2=pd.crosstab(index=df_store2['category'],columns=df_store2['time'])
CrosstabResult3=pd.crosstab(index=df_store3['category'],columns=df_store3['time'])
CrosstabResult3

# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)
ChiSqResult3 = chi2_contingency(CrosstabResult3)
# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test AH is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test MCD is:', ChiSqResult2[1])
print('The P-Value of the ChiSq Test De Pers is:', ChiSqResult3[1])

The P-Value of the ChiSq Test AH is: 0.20609789613646246
The P-Value of the ChiSq Test MCD is: 7.594445170468476e-06
The P-Value of the ChiSq Test De Pers is: 0.3132748993084858

- Time vs category would only matter for MCD

In [27]:
# Cross tabulation between category and day
CrosstabResult1=pd.crosstab(index=df_store1['category'],columns=df_store1['day'])
CrosstabResult2=pd.crosstab(index=df_store2['category'],columns=df_store2['day'])
CrosstabResult3=pd.crosstab(index=df_store3['category'],columns=df_store3['day'])
CrosstabResult3

# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)
ChiSqResult3 = chi2_contingency(CrosstabResult3)
# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test AH is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test MCD is:', ChiSqResult2[1])
print('The P-Value of the ChiSq Test De Pers is:', ChiSqResult3[1])

The P-Value of the ChiSq Test AH is: 0.20609789613646246
The P-Value of the ChiSq Test MCD is: 0.6647028222048248
The P-Value of the ChiSq Test De Pers is: 0.2193240858385071

In [28]:
# Cross tabulation between category and day
CrosstabResult1=pd.crosstab(index=df_store1['category'],columns=df_store1['week'])
CrosstabResult2=pd.crosstab(index=df_store2['category'],columns=df_store2['week'])
CrosstabResult3=pd.crosstab(index=df_store3['category'],columns=df_store3['week'])
CrosstabResult3

# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)
ChiSqResult3 = chi2_contingency(CrosstabResult3)
# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test AH is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test MCD is:', ChiSqResult2[1])
print('The P-Value of the ChiSq Test De Pers is:', ChiSqResult3[1])

The P-Value of the ChiSq Test AH is: 0.20609789613646246
The P-Value of the ChiSq Test MCD is: 0.05909024545483596
The P-Value of the ChiSq Test De Pers is: 0.581437394261722

In [28]:
# Cross tabulation between category and day
CrosstabResult1=pd.crosstab(index=df_store1['category'],columns=df_store1['week'])
CrosstabResult2=pd.crosstab(index=df_store2['category'],columns=df_store2['week'])
CrosstabResult3=pd.crosstab(index=df_store3['category'],columns=df_store3['week'])
CrosstabResult3

# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)
ChiSqResult3 = chi2_contingency(CrosstabResult3)
# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test AH is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test MCD is:', ChiSqResult2[1])
print('The P-Value of the ChiSq Test De Pers is:', ChiSqResult3[1])

The P-Value of the ChiSq Test AH is: 0.20609789613646246
The P-Value of the ChiSq Test MCD is: 0.05909024545483596
The P-Value of the ChiSq Test De Pers is: 0.581437394261722

#### 2.1.2.2 vs store type

In [22]:
# Cross tabulation between DAY and TIME
CrosstabResult1=pd.crosstab(index=df_storet1['category'],columns=df_storet1['time'])
CrosstabResult2=pd.crosstab(index=df_storet2['category'],columns=df_storet2['time'])

# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test supermarket is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test minimarket is:', ChiSqResult2[1])

The P-Value of the ChiSq Test supermarket is: 3.211920981470685e-08
The P-Value of the ChiSq Test minimarket is: 0.3132748993084858

- Time vs category only matters for supermarkets

-
# New dataframes per store name & time

In [169]:
# to select only one
store1 = 'Albert Heijn'
store2 = 'Sys'
store3 = 'Okay'
store4 = 'Delhaize'
store5 = 'Versavel Poelman'
store6 = 'Kruidvat'
store7 = 'Brabo'
store8 = 'Ikea'
store9 = 'Carrefour'

# select only these data for the df
df_AH = df[df['store_name'] == store1]
df_SYS = df[df['store_name'] == store2]
df_OKAY = df[df['store_name'] == store3]
df_DELHAIZE = df[df['store_name'] == store4]
df_VERSAVEL = df[df['store_name'] == store5]
df_KRUIDVAT = df[df['store_name'] == store6]
df_BRABO = df[df['store_name'] == store7]
df_IKEA = df[df['store_name'] == store8]
df_CARREFOUR = df[df['store_name'] == store9]

## Time dataframes for ALBERT HEIJN

In [170]:
# select only these time data for the df_AH
df_mornings = df_AH[df_AH['time'] == 'morning']
df_noons = df_AH[df_AH['time'] == 'noon']
df_afternoons = df_AH[df_AH['time'] == 'afternoon']

In [171]:
df_morning = df_mornings.groupby(['category'])['order_ID'].nunique()
df_morning = pd.DataFrame (df_morning)
df_morning = df_morning.reset_index()

In [172]:
df_morning = df_mornings.groupby(['category'])['order_ID'].nunique()
df_morning = pd.DataFrame (df_morning)
df_morning = df_morning.reset_index()
df_morning = df_morning.loc[~(df_morning==0).any(axis=1)]
df_morning = df_morning.rename(columns={"order_ID": "weight"})

df_noon = df_noons.groupby(['category'])['order_ID'].nunique()
df_noon = pd.DataFrame (df_noon)
df_noon = df_noon.reset_index()
df_noon = df_noon.loc[~(df_noon==0).any(axis=1)]
df_noon = df_noon.rename(columns={"order_ID": "weight"})

df_afternoon = df_afternoons.groupby(['category'])['order_ID'].nunique()
df_afternoon = pd.DataFrame (df_afternoon)
df_afternoon = df_afternoon.reset_index()
df_afternoon = df_afternoon.loc[~(df_afternoon==0).any(axis=1)]
df_afternoon = df_afternoon.rename(columns={"order_ID": "weight"})

In [173]:
df_noon

              category  weight
0               bakery       1
1   fruit & vegetables       6
2  meat, fish & veggie       1
3               snacks       1

In [174]:
df_morning.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_AHmornCAT.csv", index = None, header=True)
df_noon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_AHnoonCAT.csv", index = None, header=True)
df_afternoon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_AHafterCAT.csv", index = None, header=True)

In [175]:
df_mornings.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_AHmorn=.csv", index = None, header=True)
df_noons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_AHnoon.csv", index = None, header=True)
df_afternoons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_AHafter.csv", index = None, header=True)

## Time dataframes for SYS

In [176]:
# select only these time data for the df_AH
df_mornings = df_SYS[df_SYS['time'] == 'morning']
df_noons = df_SYS[df_SYS['time'] == 'noon']
df_afternoons = df_SYS[df_SYS['time'] == 'afternoon']

In [177]:
df_morning = df_mornings.groupby(['category'])['order_ID'].nunique()
df_morning = pd.DataFrame (df_morning)
df_morning = df_morning.reset_index()
df_morning = df_morning.loc[~(df_morning==0).any(axis=1)]
df_morning = df_morning.rename(columns={"order_ID": "weight"})

df_noon = df_noons.groupby(['category'])['order_ID'].nunique()
df_noon = pd.DataFrame (df_noon)
df_noon = df_noon.reset_index()
df_noon = df_noon.loc[~(df_noon==0).any(axis=1)]
df_noon = df_noon.rename(columns={"order_ID": "weight"})

df_afternoon = df_afternoons.groupby(['category'])['order_ID'].nunique()
df_afternoon = pd.DataFrame (df_afternoon)
df_afternoon = df_afternoon.reset_index()
df_afternoon = df_afternoon.loc[~(df_afternoon==0).any(axis=1)]
df_afternoon = df_afternoon.rename(columns={"order_ID": "weight"})

In [178]:
df_noon

  category  weight
0   bakery       1

In [179]:
df_morning.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SYSmornCAT.csv", index = None, header=True)
df_noon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SYSnoonCAT.csv", index = None, header=True)
df_afternoon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SYSafterCAT.csv", index = None, header=True)

In [180]:
df_mornings.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SYSmorn.csv", index = None, header=True)
df_noons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SYSnoon.csv", index = None, header=True)
df_afternoons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SYSafter.csv", index = None, header=True)

## Time dataframes for OKAY

In [95]:
# select only these time data for the df_AH
df_mornings = df_OKAY[df_OKAY['time'] == 'morning']
df_noons = df_OKAY[df_OKAY['time'] == 'noon']
df_afternoons = df_OKAY[df_OKAY['time'] == 'afternoon']

In [96]:
df_morning = df_mornings.groupby(['category'])['order_ID'].nunique()
df_morning = pd.DataFrame (df_morning)
df_morning = df_morning.reset_index()
df_morning = df_morning.loc[~(df_morning==0).any(axis=1)]
df_morning = df_morning.rename(columns={"order_ID": "weight"})

df_noon = df_noons.groupby(['category'])['order_ID'].nunique()
df_noon = pd.DataFrame (df_noon)
df_noon = df_noon.reset_index()
df_noon = df_noon.loc[~(df_noon==0).any(axis=1)]
df_noon = df_noon.rename(columns={"order_ID": "weight"})

df_afternoon = df_afternoons.groupby(['category'])['order_ID'].nunique()
df_afternoon = pd.DataFrame (df_afternoon)
df_afternoon = df_afternoon.reset_index()
df_afternoon = df_afternoon.loc[~(df_afternoon==0).any(axis=1)]
df_afternoon = df_afternoon.rename(columns={"order_ID": "weight"})

In [97]:
df_noon

              category  weight
0  breakfast & spreads       1
1         canned foods       1
2  dairy & plant based       1

In [98]:
df_morning.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_OKAYmornCAT.csv", index = None, header=True)
df_noon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_OKAYnoonCAT.csv", index = None, header=True)
df_afternoon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_OKAYafterCAT.csv", index = None, header=True)

In [99]:
df_mornings.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_OKAYmorn.csv", index = None, header=True)
df_noons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_OKAYnoon.csv", index = None, header=True)
df_afternoons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_OKAYafter.csv", index = None, header=True)

## Time dataframes for DELHAIZE

In [100]:
# select only these time data for the df_AH
df_mornings = df_DELHAIZE[df_DELHAIZE['time'] == 'morning']
df_noons = df_DELHAIZE[df_DELHAIZE['time'] == 'noon']
df_afternoons = df_DELHAIZE[df_DELHAIZE['time'] == 'afternoon']

In [101]:
df_morning = df_mornings.groupby(['category'])['order_ID'].nunique()
df_morning = pd.DataFrame (df_morning)
df_morning = df_morning.reset_index()
df_morning = df_morning.loc[~(df_morning==0).any(axis=1)]
df_morning = df_morning.rename(columns={"order_ID": "weight"})

df_noon = df_noons.groupby(['category'])['order_ID'].nunique()
df_noon = pd.DataFrame (df_noon)
df_noon = df_noon.reset_index()
df_noon = df_noon.loc[~(df_noon==0).any(axis=1)]
df_noon = df_noon.rename(columns={"order_ID": "weight"})

df_afternoon = df_afternoons.groupby(['category'])['order_ID'].nunique()
df_afternoon = pd.DataFrame (df_afternoon)
df_afternoon = df_afternoon.reset_index()
df_afternoon = df_afternoon.loc[~(df_afternoon==0).any(axis=1)]
df_afternoon = df_afternoon.rename(columns={"order_ID": "weight"})

In [102]:
df_morning

              category  weight
0               bakery       1
1            beverages       2
2  breakfast & spreads       1
3           condiments       1
4  dairy & plant based       2
5         frozen foods       1
6   fruit & vegetables       2
7  meat, fish & veggie       2
8               snacks       2

In [103]:
df_morning.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_DELHmornCAT.csv", index = None, header=True)
df_noon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_DELHnoonCAT.csv", index = None, header=True)
df_afternoon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_DELHafterCAT.csv", index = None, header=True)

In [104]:
df_mornings.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_DELHmorn.csv", index = None, header=True)
df_noons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_DELHnoon.csv", index = None, header=True)
df_afternoons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_DELHafter.csv", index = None, header=True)

## Time dataframes for VERSAVEL POELMAN

In [105]:
# select only these time data for the df_AH
df_mornings = df_VERSAVEL[df_VERSAVEL['time'] == 'morning']
df_noons = df_VERSAVEL[df_VERSAVEL['time'] == 'noon']
df_afternoons = df_VERSAVEL[df_VERSAVEL['time'] == 'afternoon']

In [106]:
df_morning = df_mornings.groupby(['category'])['order_ID'].nunique()
df_morning = pd.DataFrame (df_morning)
df_morning = df_morning.reset_index()
df_morning = df_morning.loc[~(df_morning==0).any(axis=1)]
df_morning = df_morning.rename(columns={"order_ID": "weight"})

df_noon = df_noons.groupby(['category'])['order_ID'].nunique()
df_noon = pd.DataFrame (df_noon)
df_noon = df_noon.reset_index()
df_noon = df_noon.loc[~(df_noon==0).any(axis=1)]
df_noon = df_noon.rename(columns={"order_ID": "weight"})

df_afternoon = df_afternoons.groupby(['category'])['order_ID'].nunique()
df_afternoon = pd.DataFrame (df_afternoon)
df_afternoon = df_afternoon.reset_index()
df_afternoon = df_afternoon.loc[~(df_afternoon==0).any(axis=1)]
df_afternoon = df_afternoon.rename(columns={"order_ID": "weight"})

In [107]:
df_morning

              category  weight
0  dairy & plant based       1
1  meat, fish & veggie       3

In [108]:
df_morning.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_VERSmornCAT.csv", index = None, header=True)
df_noon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_VERSnoonCAT.csv", index = None, header=True)
df_afternoon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_VERSafterCAT.csv", index = None, header=True)

In [109]:
df_mornings.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_VERSmorn.csv", index = None, header=True)
df_noons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_VERSnoon.csv", index = None, header=True)
df_afternoons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_VERSafter.csv", index = None, header=True)

## Time dataframes for KRUIDVAT

In [110]:
# select only these time data for the df_AH
df_mornings = df_KRUIDVAT[df_KRUIDVAT['time'] == 'morning']
df_noons = df_KRUIDVAT[df_KRUIDVAT['time'] == 'noon']
df_afternoons = df_KRUIDVAT[df_KRUIDVAT['time'] == 'afternoon']

In [111]:
df_morning = df_mornings.groupby(['category'])['order_ID'].nunique()
df_morning = pd.DataFrame (df_morning)
df_morning = df_morning.reset_index()
df_morning = df_morning.loc[~(df_morning==0).any(axis=1)]
df_morning = df_morning.rename(columns={"order_ID": "weight"})

df_noon = df_noons.groupby(['category'])['order_ID'].nunique()
df_noon = pd.DataFrame (df_noon)
df_noon = df_noon.reset_index()
df_noon = df_noon.loc[~(df_noon==0).any(axis=1)]
df_noon = df_noon.rename(columns={"order_ID": "weight"})

df_afternoon = df_afternoons.groupby(['category'])['order_ID'].nunique()
df_afternoon = pd.DataFrame (df_afternoon)
df_afternoon = df_afternoon.reset_index()
df_afternoon = df_afternoon.loc[~(df_afternoon==0).any(axis=1)]
df_afternoon = df_afternoon.rename(columns={"order_ID": "weight"})

In [112]:
df_afternoon

          category  weight
0        beverages       1
1  care & hyygiene       1
2           snacks       1

In [113]:
df_morning.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_KRUIDmornCAT.csv", index = None, header=True)
df_noon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_KRUIDnoonCAT.csv", index = None, header=True)
df_afternoon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_KRUIDafterCAT.csv", index = None, header=True)

In [114]:
df_mornings.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_KRUIDmorn.csv", index = None, header=True)
df_noons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_KRUIDnoon.csv", index = None, header=True)
df_afternoons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_KRUIDafter.csv", index = None, header=True)

## Time dataframes for BRABO

In [115]:
# select only these time data for the df_AH
df_mornings = df_BRABO[df_BRABO['time'] == 'morning']
df_noons = df_BRABO[df_BRABO['time'] == 'noon']
df_afternoons = df_BRABO[df_BRABO['time'] == 'afternoon']

In [116]:
df_morning = df_mornings.groupby(['category'])['order_ID'].nunique()
df_morning = pd.DataFrame (df_morning)
df_morning = df_morning.reset_index()
df_morning = df_morning.loc[~(df_morning==0).any(axis=1)]
df_morning = df_morning.rename(columns={"order_ID": "weight"})

df_noon = df_noons.groupby(['category'])['order_ID'].nunique()
df_noon = pd.DataFrame (df_noon)
df_noon = df_noon.reset_index()
df_noon = df_noon.loc[~(df_noon==0).any(axis=1)]
df_noon = df_noon.rename(columns={"order_ID": "weight"})

df_afternoon = df_afternoons.groupby(['category'])['order_ID'].nunique()
df_afternoon = pd.DataFrame (df_afternoon)
df_afternoon = df_afternoon.reset_index()
df_afternoon = df_afternoon.loc[~(df_afternoon==0).any(axis=1)]
df_afternoon = df_afternoon.rename(columns={"order_ID": "weight"})

In [117]:
df_afternoon

              category  weight
0  meat, fish & veggie       1

In [118]:
df_morning.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_BRAmornCAT.csv", index = None, header=True)
df_noon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_BRAnoonCAT.csv", index = None, header=True)
df_afternoon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_BRAafterCAT.csv", index = None, header=True)

In [119]:
df_mornings.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_BRAmorn.csv", index = None, header=True)
df_noons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_BRAnoon.csv", index = None, header=True)
df_afternoons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_BRAafter.csv", index = None, header=True)

## Time dataframes for IKEA

In [120]:
# select only these time data for the df_AH
df_mornings = df_IKEA[df_IKEA['time'] == 'morning']
df_noons = df_IKEA[df_IKEA['time'] == 'noon']
df_afternoons = df_IKEA[df_IKEA['time'] == 'afternoon']

In [121]:
df_morning = df_mornings.groupby(['category'])['order_ID'].nunique()
df_morning = pd.DataFrame (df_morning)
df_morning = df_morning.reset_index()
df_morning = df_morning.loc[~(df_morning==0).any(axis=1)]
df_morning = df_morning.rename(columns={"order_ID": "weight"})

df_noon = df_noons.groupby(['category'])['order_ID'].nunique()
df_noon = pd.DataFrame (df_noon)
df_noon = df_noon.reset_index()
df_noon = df_noon.loc[~(df_noon==0).any(axis=1)]
df_noon = df_noon.rename(columns={"order_ID": "weight"})

df_afternoon = df_afternoons.groupby(['category'])['order_ID'].nunique()
df_afternoon = pd.DataFrame (df_afternoon)
df_afternoon = df_afternoon.reset_index()
df_afternoon = df_afternoon.loc[~(df_afternoon==0).any(axis=1)]
df_afternoon = df_afternoon.rename(columns={"order_ID": "weight"})

In [122]:
df_morning

    category  weight
0  beverages       1

In [123]:
df_morning.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_IKEAmornCAT.csv", index = None, header=True)
df_noon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_IKEAnoonCAT.csv", index = None, header=True)
df_afternoon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_IKEAafterCAT.csv", index = None, header=True)

In [124]:
df_mornings.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_IKEAmorn.csv", index = None, header=True)
df_noons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_IKEAnoon.csv", index = None, header=True)
df_afternoons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_IKEAafter.csv", index = None, header=True)

## Time dataframes for CARREFOUR

In [125]:
# select only these time data for the df_AH
df_mornings = df_CARREFOUR[df_CARREFOUR['time'] == 'morning']
df_noons = df_CARREFOUR[df_CARREFOUR['time'] == 'noon']
df_afternoons = df_CARREFOUR[df_CARREFOUR['time'] == 'afternoon']

In [126]:
df_morning = df_mornings.groupby(['category'])['order_ID'].nunique()
df_morning = pd.DataFrame (df_morning)
df_morning = df_morning.reset_index()
df_morning = df_morning.loc[~(df_morning==0).any(axis=1)]
df_morning = df_morning.rename(columns={"order_ID": "weight"})

df_noon = df_noons.groupby(['category'])['order_ID'].nunique()
df_noon = pd.DataFrame (df_noon)
df_noon = df_noon.reset_index()
df_noon = df_noon.loc[~(df_noon==0).any(axis=1)]
df_noon = df_noon.rename(columns={"order_ID": "weight"})

df_afternoon = df_afternoons.groupby(['category'])['order_ID'].nunique()
df_afternoon = pd.DataFrame (df_afternoon)
df_afternoon = df_afternoon.reset_index()
df_afternoon = df_afternoon.loc[~(df_afternoon==0).any(axis=1)]
df_afternoon = df_afternoon.rename(columns={"order_ID": "weight"})

In [127]:
df_afternoon

              category  weight
0  breakfast & spreads       1
1         canned foods       1
2           condiments       1
3  dairy & plant based       1
4   fruit & vegetables       1
5  meat, fish & veggie       1
6               snacks       1

In [128]:
df_morning.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_CATmornCAT.csv", index = None, header=True)
df_noon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_CATnoonCAT.csv", index = None, header=True)
df_afternoon.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_CARafterCAT.csv", index = None, header=True)

In [129]:
df_mornings.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_CATmorn.csv", index = None, header=True)
df_noons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_CATnoon.csv", index = None, header=True)
df_afternoons.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_CARafter.csv", index = None, header=True)