## 4: FUNCTIONS FOR ITEMS PER TIME, STORENAME

### Import libraries

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
from random import sample
class bcolors:
    WARNING = '\033[91m'
    BOLD = '\033[1m'

### Load and view data

In [4]:
    # Function to generate #visits per day of the week
from AlgorithmDAYS_HH3 import weekdays, dayofweek
    #Function to define the limits for total visits, days, same store and type per week
from AlgorithmCOUNTS_HH3 import CountTotalVisits, CountTotalDays, CountStoreName, CountTimePerDay, CountStoreType, CountTotalPerday, CountVisitsPerDay, CountTimingPerDay
    # Function to generate #visits per time
from AlgorithmTIMES_HH3 import Monday, Tuesday, Wednesday, Thursday, Friday, Sunday, timeperday
    # Function to generate #visits per time
from AlgorithmSTOREday_HH3 import MondayStore, TuesdayStore, WednesdayStore, ThursdayStore, FridayStore, SundayStore, storeperday
    # Function to decide amounts per visit & per week
from AlgorithmAMOUNT_HH3 import StoreAmount, WeekAmount, StoreCount, WeekCount, CatCount, PerCatCount, countsperstore

In [5]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3.csv")

### Get counts per store etc

In [7]:
df1 = dayofweek()
df2 = timeperday(df1)
df3 = storeperday(df1,df2)
df3

 RERUN - Too few/many store type: supermarket
 RERUN - Too few/many store name: Colruyt

  store_name   store_type        day       time
0       Aldi  supermarket     Monday  afternoon
1       Tine       bakery    Tuesday       noon
2    Colruyt  supermarket  Wednesday  afternoon

In [8]:
df4 = countsperstore(df3)
df4['I'] = np.arange(df4.shape[0])
df4

 RERUN - Too many items: 55

  store_name   store_type        day       time  counts  I
0       Aldi  supermarket     Monday  afternoon       8  0
1       Tine       bakery    Tuesday       noon       2  1
2    Colruyt  supermarket  Wednesday  afternoon      26  2

# DEFINE FUNCTIONS

### Split up the dataframe per store type

In [9]:
def supermarket(dataframes, counts, storenamez):
        ## Create dataframes for each day they go shopping
    typedf = {}
    storetypes = dataframes.store_type.values.tolist()
    storenames = dataframes.store_name.values.tolist()           
    thisnamedf = {}
    storenamedf = {}
    for storetype in dataframes['store_type']:
            storeday = df[df['store_type'] == storetype]
            items = storeday[['item_type', 'item_name', 'time', 'store_type','store_name', 'amount', 'category']]
            typedf[storetype] = pd.DataFrame(items)
            typedf[storetype].drop_duplicates()        
    ## Split up the dataframes to store name for mon, tue, sat, sun
    if 'supermarket'in dataframes.values:
            for storename in storenames:
                thisnamedf = typedf['supermarket']
                storesdf = thisnamedf[thisnamedf['store_name'] == storename]
                items = storesdf[['item_type', 'item_name', 'store_type', 'store_name', 'amount', 'category']]
                storenamedf[storename] = pd.DataFrame(items)
                storenamedf[storename].drop_duplicates()                
    ## Sample the dataframes per day they go shopping
    if 'supermarket' in dataframes.values:
            grocerylist = dataframes[dataframes['store_type'] == 'supermarket']
            if 'supermarket' in dataframes.values:
                storenamedf[storenamez]= storenamedf[storenamez].drop_duplicates()
                return storenamedf[storenamez].sample(n=counts, replace=False)

In [10]:
def bakery(dataframes, counts):
        ## Create dataframes for each day they go shopping
    typedf = {}
    for storetype in dataframes['store_type']:
            storeday = df[df['store_type'] == storetype]
            items = storeday[['item_type', 'item_name', 'store_type','store_name', 'amount', 'category']]
            typedf[storetype] = pd.DataFrame(items)
            typedf[storetype].drop_duplicates() 
    if 'bakery' in dataframes.values:
        grocerylist = dataframes[dataframes['store_type'] == 'bakery']
        if 'bakery' in dataframes.values:
            typedf['bakery'] = typedf['bakery'].drop_duplicates()
            return typedf['bakery'].sample(n=counts, replace=False)

In [11]:
def petsupply(dataframes, counts):
        ## Create dataframes for each day they go shopping
    typedf = {}
    for storetype in dataframes['store_type']:
            storeday = df[df['store_type'] == storetype]
            items = storeday[['item_type', 'item_name', 'store_type','store_name', 'amount', 'category']]
            typedf[storetype] = pd.DataFrame(items)
            typedf[storetype].drop_duplicates() 
        ## sample dataframes per store type
    if 'pet supplies' in dataframes.values:
            grocerylist = dataframes[dataframes['store_type'] == 'pet supplies']
            if 'pet supplies' in dataframes.values:
                typedf['pet supplies'] = typedf['pet supplies'].drop_duplicates()
                return typedf['pet supplies'].sample(n=counts, replace=False)

### Get lists per store type for the weekplanning output

In [12]:
def supermarkets(dataframes, index):
    storesuper = dataframes[dataframes['store_type'] == 'supermarket']
    storesuper = storesuper[['store_name', 'store_type', 'counts', 'I']]
    storesuper = storesuper.to_numpy()
    s = {}
    supermarkets = pd.DataFrame(columns = ['item_type', 'item_name', 'amount', 'category'])
    for storename, storetype, counts, i in storesuper:
        s[i] = pd.DataFrame(supermarket(dataframes, counts, storename))     
    s[i] = s[index]
    return s[index]

In [16]:
supermarkets(df4, 2)

,item_type,item_name,store_type,store_name,amount,category
131,garlic,EVERYDAY knoflook 250g,supermarket,Colruyt,1,fruit & vegetables
147,paper towels,BONI keukenrollen classic 3l 64V 6rol,supermarket,Colruyt,1,household
62,eggrolls,BONI loempia kip 4 stuks 600g,supermarket,Colruyt,1,frozen foods
181,pasta,BONI farfalle 500g,supermarket,Colruyt,1,pasta & rice
112,wraps,BONI wraps 6st 370g,supermarket,Colruyt,1,bakery
64,cream cheese,EVERYDAY verse kaas look &f. kruiden 150g,supermarket,Colruyt,1,dairy & plant based
126,korma sauce,SHARWOODS kormasaus 420g,supermarket,Colruyt,1,condiments
188,floss,BONI flosdraad munt fluor 50m,supermarket,Colruyt,1,care & hygiene
118,rice,BONI rijst basmati 4x125g,supermarket,Colruyt,2,pasta & rice
129,guacamole,BONI guacamole mild 200g,supermarket,Colruyt,1,condiments
153,ice tea,"LIPTON ice tea original bruisend 1,5L",supermarket,Colruyt,8,beverages
70,charcuterie,BONI Antipasto Italiano 150g,supermarket,Colruyt,1,"meat, fish & veggie"
151,juice,BONI sinaasappelsap pulp 1L,supermarket,Colruyt,2,beverages
169,bread,EVERYDAY stokbr wit voorgeb 6st 300g,supermarket,Colruyt,2,bakery
164,cheese,CAPRICE DES DIEUX kaas zacht 200g,supermarket,Colruyt,1,dairy & plant based
162,chicken,kippenescalope ca400g,supermarket,Colruyt,1,"meat, fish & veggie"
167,candy,BONI snoep winegums 1kg,supermarket,Colruyt,1,snacks
124,mushrooms,EVERYDAY champignons fijn 250gt,supermarket,Colruyt,1,fruit & vegetables
241,cookies,BAHLSEN PICK UP! Chocolade koek 10x28g,supermarket,Colruyt,1,snacks
236,ice cream,EVERYDAY mini vanille-ijsjes 12x50ml,supermarket,Colruyt,1,frozen foods
115,spice mix,POCO LOCO mexican fajita mix 40g,supermarket,Colruyt,1,cooking aids
224,seseame oil,BONI sesamolie 25cl,supermarket,Colruyt,1,cooking aids
44,toilet paper,EVERYDAY toiletpapier 4l 152v 6r,supermarket,Colruyt,1,household
145,sandwiches,BONI brood keizer 6x50g,supermarket,Colruyt,1,bakery
150,lasagna,BONI lasagne bolognese 1kg,supermarket,Colruyt,1,"meat, fish & veggie"
74,apples,BONI Royal Gala appelen 6st W,supermarket,Colruyt,1,fruit & vegetables

In [61]:
def bakeries(dataframes, index):
    storebake = dataframes[dataframes['store_type'] == 'bakery']
    storebake = storebake[['store_type', 'counts', 'I']]
    storebake = storebake.to_numpy()
    ba = {}
    supermarkets = pd.DataFrame(columns = ['item_type', 'item_name', 'amount', 'category'])
    for storetype, counts, i in storebake:
        ba[i] = pd.DataFrame(bakery(dataframes, counts))     
    ba[i] = ba[index]
    return ba[index]

In [64]:
def petsupplies(dataframes, index):
    storepet = dataframes[dataframes['store_type'] == 'pet supplies']
    storepet = storepet[['store_type', 'counts', 'I']]
    storepet = storepet.to_numpy()
    p = {}
    supermarkets = pd.DataFrame(columns = ['item_type', 'item_name', 'amount', 'category'])
    for storetype, counts, i in storepet:
        p[i] = pd.DataFrame(petsupply(dataframes, counts))     
    p[i] = p[index]
    return p[index]

In [80]:
petsupplies(df4, 2)

       item_type          item_name    store_type store_name  amount  category
214  pet harness  AN10 harnas 28-40  pet supplies   Maxi Zoo       1  non-food
39     litterbox     LIT BOX TC 30L  pet supplies     Tom&Co       1  non-food