## 2.2. CHECKPOINT: counts & intervals per week/stores

### Import libraries

In [1]:
# %matplotlib notebook
%matplotlib inline
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
import dataframe_image as dfi
from datetime import time
import matplotlib.dates as mdates
from matplotlib.ticker import StrMethodFormatter
from matplotlib.pyplot import figure

### Load and view data

In [2]:
# data for HH
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3.csv")

In [3]:
df.describe()

,week,order_ID,amount,price_unit,price_total,item_id,type_id,order_amount,order_price,day_num,storetype_num,storename_num,cat_num,time_num,promo_num,timestamp,times_min,dates_days
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,2.660000e+02,266.000000,2.660000e+02
mean,4.706767,9.112782,1.338346,2.285553,2.645734,108.661654,52.203008,36.093985,68.665751,3.319549,1.860902,2.266917,7.657895,0.800752,0.018797,1.641034e+18,1744.428571,2.021637e+07
std,2.551454,5.116240,1.218643,2.672999,2.927494,64.043368,33.553733,16.295462,29.704535,1.645851,0.490873,1.713486,4.764598,0.690747,0.136063,2.401568e+15,165.970686,4.437701e+03
min,1.000000,1.000000,1.000000,0.193120,0.193120,0.000000,0.000000,2.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.637693e+18,1146.000000,2.021112e+07
25%,2.000000,4.000000,1.000000,0.990000,1.190000,54.250000,20.250000,24.000000,57.440000,1.000000,2.000000,1.000000,4.000000,0.000000,0.000000,1.638385e+18,1658.000000,2.021120e+07
50%,5.000000,10.000000,1.000000,1.655000,1.890000,109.500000,55.000000,44.000000,78.075170,4.000000,2.000000,2.000000,9.000000,1.000000,0.000000,1.641840e+18,1810.000000,2.022011e+07
75%,7.000000,12.000000,1.000000,2.592940,2.990000,163.750000,80.000000,46.000000,82.691596,5.000000,2.000000,2.000000,11.000000,1.000000,0.000000,1.643216e+18,1841.000000,2.022013e+07
max,8.000000,18.000000,12.000000,29.950000,29.950000,218.000000,102.000000,54.000000,118.655430,5.000000,2.000000,9.000000,14.000000,3.000000,1.000000,1.644151e+18,1900.000000,2.022021e+07

In [4]:
df_orders = df[['order_ID', 'week', 'store_name', 'storename_num', 'store_type','day', 'time', 'times', 'dates', 'order_amount', 'order_price']]
df_orders = df_orders.drop_duplicates()

# Maximums per week

In [5]:
def CountTotalVisits():
    Count = df.groupby(['week'])['order_ID'].nunique()
    Count = pd.DataFrame (Count)
    Count = Count.reset_index()

    min = Count.min(axis=0,numeric_only=True)['order_ID']
    max = Count.max(axis=0,numeric_only=True)['order_ID']
    return min, max

In [6]:
CountTotalVisits()

(1, 4)

In [7]:
def CountTotalDays():
    Count = df_orders.groupby(['week'])['day'].nunique()
    Count = pd.DataFrame (Count)
    Count = Count.reset_index()

    min = Count.min(axis=0,numeric_only=True)['day']
    max = Count.max(axis=0,numeric_only=True)['day']
    return min, max

In [8]:
CountTotalDays()

(1, 3)

In [9]:
def CountTotalPerday():
    Count = df_orders.groupby(['week', 'day'])['order_ID'].count()
    Count = pd.DataFrame (Count)
    Count = Count.reset_index()

    min = Count.min(axis=0,numeric_only=True)['order_ID']
    max = Count.max(axis=0,numeric_only=True)['order_ID']
    return min, max

In [10]:
CountTotalPerday()

(1, 2)

In [11]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
df_orders.loc[:, ('day')] = pd.Categorical(df_orders.loc[:, ('day')], categories=days)

In [12]:
weeks = [1,2,3,4,5,6,7,8]
df_orders.loc[:, ('week')] = pd.Categorical(df_orders.loc[:, ('week')], categories=weeks)

In [13]:
def CountVisitsPerDay(day):
    df_count = df_orders[df_orders['day']== day]

    Count = df_count.sort_values(by=['week'])
    Count = Count.groupby(['week'])['order_ID'].nunique()
    Count = pd.DataFrame (Count)
    Count = Count.reset_index()

    min = Count.min(axis=0,numeric_only=True)['order_ID']
    max = Count.max(axis=0,numeric_only=True)['order_ID']
    return min, max

In [14]:
CountVisitsPerDay('Sunday')

(0, 1)

In [15]:
def CountStoreName(store):
    df_count = df_orders[df_orders['store_name']== store]

    Count = df_count.sort_values(by=['week'])
    Count = Count.groupby(['week'])['order_ID'].nunique()
    Count = pd.DataFrame (Count)
    Count = Count.reset_index()

    min = Count.min(axis=0,numeric_only=True)['order_ID']
    max = Count.max(axis=0,numeric_only=True)['order_ID']
    return min, max

In [16]:
CountStoreName('Aldi')

(0, 1)

In [17]:
def CountStoreType(store):
    df_count = df_orders[df_orders['store_type']== store]

    Count = df_count.sort_values(by=['week'])
    Count = Count.groupby(['week'])['order_ID'].nunique()
    Count = pd.DataFrame (Count)
    Count = Count.reset_index()

    min = Count.min(axis=0,numeric_only=True)['order_ID']
    max = Count.max(axis=0,numeric_only=True)['order_ID']
    return min, max

In [18]:
CountStoreType('supermarket')

(1, 2)

In [19]:
def CountTimePerDay(day):
    df_count = df_orders[df_orders['day']== day]

    Count = df_count.sort_values(by=['week'])
    Count = Count.groupby(['week'])['order_ID'].nunique()
    Count = pd.DataFrame (Count)
    Count = Count.reset_index()

    min = Count.min(axis=0,numeric_only=True)['order_ID']
    max = Count.max(axis=0,numeric_only=True)['order_ID']
    return min, max

In [20]:
CountTimePerDay('Wednesday')

(0, 1)

In [21]:
def CountTimingPerDay(time):
    df_count = df_orders[df_orders['time']== time]
    Count = df_count.groupby(['week', 'day'])['order_ID'].count()
    Count = pd.DataFrame (Count)
    Count = Count.reset_index()

    min = Count.min(axis=0,numeric_only=True)['order_ID']
    max = Count.max(axis=0,numeric_only=True)['order_ID']
    return min, max

In [22]:
CountTimingPerDay('evening')

(0, 1)

In [42]:
def CountTypePerStore(itemtype, storetype):
    df_type = df[df['store_type'] == storetype]
    count = int(df['order_ID'].nunique())
    data = {'order_ID': range(count)}
    orderID = pd.DataFrame(data)
    df_type = df_type[df_type['item_type'] == itemtype]
    df_type = df_type.groupby(['order_ID'])['amount'].count()
    df_type = pd.DataFrame (df_type)
    df_type = df_type.reset_index() 
    df_type = orderID.merge(df_type, how='left').fillna(0)
    min = df_type.min(axis=0)['amount']
    max = df_type.max(axis=0)['amount']
    return (min, max)

In [43]:
CountTypePerStore('soft drink', 'supermarket')

(0.0, 1.0)