## 4: CORRELATIONS - FROM WHAT CATEGORIES?

1. Correlations types-categories?
2. Most bought categories?
3. Aggregate categories - regroup


1. Top 10 products & other graphs
2. Filters -- per day, per store...

### Import libraries

In [84]:
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
import dataframe_image as dfi

from matplotlib.ticker import StrMethodFormatter

# importing the required function for correlations
from scipy.stats import chi2_contingency

### Load and view data

In [257]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2.csv")
# df.describe(include='all')

In [258]:
# use the corr function to display the correlation between all the features
data_corr = df.corr()
# data_corr

# 1. GENERAL CORRELATIONS: time/day/storetype-name

## 1.1. CORRELATION 1: categories vs time

In [259]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['category'],columns=df['time'])

CrosstabResult

time                       afternoon  evening  morning  noon
category
bakery                             2        2       30     5
beverages                          9        3       14     0
breakfast & spreads                1        4        2     1
canned foods                       4        3        3     3
care & hyygiene                    1        0        0     0
condiments                         2        1        2     0
cooking aid                        1        0        3     0
dairy & plant based                9       20       24     1
frozen foods                       3        1       12     0
fruit & vegetables                29       21       44     9
household                          1        0        0     0
meat, fish & veggie               18       17       43     1
non-food                           1        1        0     0
nuts, seeds & dried fruit          1        0        2     0
pasta & rice                       1        2        0     0
snacks                             1        6        7     1

In [260]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 0.0009275444607973967

Significant (strong) correlation, we could limit options to what's bought per time [in a supermarket]

## 1.2. CORRELATION 2: categories vs day

In [261]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['category'],columns=df['day'])

CrosstabResult

day,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
category,,,,,,,
bakery,2,3,8,16,1,4,5
beverages,7,2,4,5,3,5,0
breakfast & spreads,0,1,1,1,3,2,0
canned foods,1,0,4,0,5,3,0
care & hyygiene,0,0,0,0,0,1,0
condiments,0,0,1,2,2,0,0
cooking aid,0,0,0,0,1,3,0
dairy & plant based,4,6,15,12,11,6,0
frozen foods,0,0,9,1,2,4,0
fruit & vegetables,23,10,24,21,12,9,4
household,1,0,0,0,0,0,0
"meat, fish & veggie",9,10,17,22,17,4,0
non-food,0,1,0,0,1,0,0
"nuts, seeds & dried fruit",0,0,1,0,1,1,0
pasta & rice,0,2,0,0,1,0,0
snacks,0,3,3,4,3,2,0

In [262]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 5.734698007999439e-05

Significant (strong), we could limit options to what's bought per day:
> 1. Certain cat. are bought on specific days only/mostly
2. Could be by chance, but could be on purpose for some categories (e.g. bakery)
3. >  Let's check if this is also true for only the supermarket/times...

## 1.3.1 CORRELATION 3: categories vs store

### 1.3.1 categories vs store type

In [263]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['category'],columns=df['store_type'])

CrosstabResult

store_type,bakery,butcher,drugstore,furniture store,supermarket
category,,,,,
bakery,32,0,0,0,7
beverages,0,0,1,2,23
breakfast & spreads,0,0,0,0,8
canned foods,0,0,0,0,13
care & hyygiene,0,0,1,0,0
condiments,0,0,0,0,5
cooking aid,0,0,0,0,4
dairy & plant based,1,1,0,0,52
frozen foods,0,0,0,0,16
fruit & vegetables,0,0,0,0,103
household,0,0,0,0,1
"meat, fish & veggie",2,25,0,0,52
non-food,0,0,0,0,2
"nuts, seeds & dried fruit",0,0,0,0,3
pasta & rice,0,0,0,0,3
snacks,0,0,1,0,14

In [264]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 3.330961446189856e-75

### 1.3.2. categories vs store name

In [94]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['category'],columns=df['store_name'])

CrosstabResult

store_name,Albert Heijn,Brabo,Carrefour,Delhaize,Ikea,Kruidvat,Okay,Sys,Versavel Poelman
category,,,,,,,,,
bakery,3,0,0,3,0,0,1,32,0
beverages,2,0,0,10,2,1,11,0,0
breakfast & spreads,1,0,1,1,0,0,5,0,0
canned foods,0,0,1,1,0,0,11,0,0
care & hyygiene,0,0,0,0,0,1,0,0,0
condiments,0,0,1,2,0,0,2,0,0
cooking aid,0,0,0,0,0,0,4,0,0
dairy & plant based,5,0,8,16,0,0,23,1,1
frozen foods,0,0,0,1,0,0,15,0,0
fruit & vegetables,19,0,12,42,0,0,30,0,0
household,0,0,0,1,0,0,0,0,0
"meat, fish & veggie",5,6,5,23,0,0,19,2,19
non-food,1,0,0,0,0,0,1,0,0
"nuts, seeds & dried fruit",0,0,0,0,0,0,3,0,0
pasta & rice,2,0,0,0,0,0,1,0,0
snacks,7,0,3,3,0,1,1,0,0

In [95]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 9.175823149091676e-70

-
# 2. SPECIFIC CORRELATIONS: introduce third variable (day/time/store/time)

In [266]:
# define data
Monday = 'Monday'
Tuesday = 'Tuesday'
Wednesday = 'Wednesday'
Thursday = 'Thursday'
Friday = 'Friday'
Saturday = 'Saturday'
Sunday = 'Sunday'

# select only these data (for day, store, store name)
df_Monday = df[df["day"] == Monday]
df_Tuesday = df[df["day"] == Tuesday]
df_Wednesday = df[df["day"] == Wednesday]
df_Thursday = df[df["day"] == Thursday]
df_Friday = df[df["day"] == Friday]
df_Saturday = df[df["day"] == Saturday]
df_Sunday = df[df["day"] == Sunday]

In [267]:
# define data
store1 = 'Albert Heijn'
store2 = 'Carrefour'
store3 = 'Okay'
store4 = 'Delhaize'
store5 = 'Versavel Poelman'
store6 = 'Kruidvat'
store7 = 'Brabo'
store8 = 'Ikea'
store9 = 'Sys'

# select only these data for the df
df_store1 = df[df['store_name'] == store1]
df_store2 = df[df['store_name'] == store2]
df_store3 = df[df['store_name'] == store3]
df_store4 = df[df['store_name'] == store4]
df_store5 = df[df['store_name'] == store5]
df_store6 = df[df['store_name'] == store6]
df_store7 = df[df['store_name'] == store7]
df_store8 = df[df['store_name'] == store8]
df_store9 = df[df['store_name'] == store9]

In [268]:
# to select only one
storet1 = 'supermarket'
storet2 = 'butcher'
storet3 = 'bakery'
storet4 = 'drugstore'
storet5 = 'furniture store'

# select only these data for the df
df_storet1 = df[df['store_type'] == storet1]
df_storet2 = df[df['store_type'] == storet2]
df_storet3 = df[df['store_type'] == storet3]
df_storet4 = df[df['store_type'] == storet4]
df_storet5 = df[df['store_type'] == storet5]

In [269]:
# define data
morning = 'morning'
noon = 'noon'
afternoon = 'afternoon'
evening = 'evening'


# select only these data (for time)
df_morning = df[df["time"] == morning]
df_noon = df[df["time"] == noon]
df_afternoon = df[df["time"] == afternoon]
df_evening = df[df["time"] == evening]

-
## 2.2: CORRELATION 2: categories vs day

## 2.2.1.: vs time

-
## 2.1. CORRELATION 1: categories vs TIME

## 2.1.1.: vs day

In [193]:
# Cross tabulation between category and store type
CrosstabResult_Monday =pd.crosstab(index=df_Monday['category'],columns=df_Monday['time'], dropna=False)
CrosstabResult_Tuesday =pd.crosstab(index=df_Tuesday['category'],columns=df_Tuesday['time'], dropna=False)
CrosstabResult_Wednesday =pd.crosstab(index=df_Wednesday['category'],columns=df_Wednesday['time'], dropna=False)
CrosstabResult_Thursday =pd.crosstab(index=df_Thursday['category'],columns=df_Thursday['time'], dropna=False)
CrosstabResult_Friday =pd.crosstab(index=df_Friday['category'],columns=df_Friday['time'], dropna=False)
CrosstabResult_Saturday =pd.crosstab(index=df_Saturday['category'],columns=df_Saturday['time'], dropna=False)
CrosstabResult_Sunday =pd.crosstab(index=df_Sunday['category'],columns=df_Sunday['time'], dropna=False)
CrosstabResult_Tuesday

time                       afternoon  morning  noon
category
bakery                             0        1     3
beverages                          1        4     0
breakfast & spreads                0        1     1
canned foods                       0        0     3
care & hyygiene                    1        0     0
cooking aid                        0        3     0
dairy & plant based                0        5     1
frozen foods                       0        4     0
fruit & vegetables                 0        9     0
meat, fish & veggie                0        4     0
nuts, seeds & dried fruit          0        1     0
snacks                             1        1     0

In [187]:
# Performing Chi-sq test
Monday = chi2_contingency(CrosstabResult_Monday)
Tuesday = chi2_contingency(CrosstabResult_Tuesday)
Wednesday = chi2_contingency(CrosstabResult_Wednesday)
Thursday = chi2_contingency(CrosstabResult_Thursday)
Friday = chi2_contingency(CrosstabResult_Friday)
Saturday = chi2_contingency(CrosstabResult_Saturday)
Sunday = chi2_contingency(CrosstabResult_Sunday)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for Mondays:', Monday[1])
print('The P-Value of the ChiSq Test is, for Tuesdays:', Tuesday[1])
print('The P-Value of the ChiSq Test is, for Wednesdays:', Wednesday[1])
print('The P-Value of the ChiSq Test is, for Thursdays:', Thursday[1])
print('The P-Value of the ChiSq Test is, for Fridays:', Friday[1])
print('The P-Value of the ChiSq Test is, for Saturdays:', Saturday[1])
print('The P-Value of the ChiSq Test is, for Sundays:', Sunday[1])

The P-Value of the ChiSq Test is, for Mondays: 0.23259221878469416
The P-Value of the ChiSq Test is, for Tuesdays: 0.0002297657965096665
The P-Value of the ChiSq Test is, for Wednesdays: 0.7076604666545525
The P-Value of the ChiSq Test is, for Thursdays: 0.029193199788798085
The P-Value of the ChiSq Test is, for Fridays: 0.3745641597293434
The P-Value of the ChiSq Test is, for Saturdays: 0.03232388823591124
The P-Value of the ChiSq Test is, for Sundays: 1.0

- On some days it is clear which categories are bought at which times
- On other days, it does not matter what time it is, categories can be bought whenever
- For Sunday, they did not go shopping any other time than in the morning, you thus cant tell if they would buy other categories at other times

## 2.1.2.: vs store

#### 2.1.2.1. vs store name

In [198]:
# Cross tabulation between category and day
CrosstabResult1=pd.crosstab(index=df_store1['category'],columns=df_store1['time'])
CrosstabResult2=pd.crosstab(index=df_store2['category'],columns=df_store2['time'])
CrosstabResult3=pd.crosstab(index=df_store3['category'],columns=df_store3['time'])
CrosstabResult4=pd.crosstab(index=df_store4['category'],columns=df_store4['time'])
CrosstabResult5=pd.crosstab(index=df_store5['category'],columns=df_store5['time'])
CrosstabResult6=pd.crosstab(index=df_store6['category'],columns=df_store6['time'])
CrosstabResult7=pd.crosstab(index=df_store7['category'],columns=df_store7['time'])
CrosstabResult8=pd.crosstab(index=df_store8['category'],columns=df_store8['time'])
CrosstabResult9=pd.crosstab(index=df_store9['category'],columns=df_store9['time'])
CrosstabResult3

time                       afternoon  morning  noon
category
bakery                             1        0     0
beverages                          4        7     0
breakfast & spreads                3        1     1
canned foods                       5        3     3
condiments                         2        0     0
cooking aid                        1        3     0
dairy & plant based               12       10     1
frozen foods                       4       11     0
fruit & vegetables                 9       21     0
meat, fish & veggie               11        8     0
non-food                           1        0     0
nuts, seeds & dried fruit          1        2     0
pasta & rice                       1        0     0
snacks                             0        1     0

In [197]:
# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)
ChiSqResult3 = chi2_contingency(CrosstabResult3)
ChiSqResult4 = chi2_contingency(CrosstabResult4)
ChiSqResult5 = chi2_contingency(CrosstabResult5)
ChiSqResult6 = chi2_contingency(CrosstabResult6)
ChiSqResult7 = chi2_contingency(CrosstabResult7)
ChiSqResult8 = chi2_contingency(CrosstabResult8)
ChiSqResult9 = chi2_contingency(CrosstabResult9)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test AH is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test Carrefour is:', ChiSqResult2[1])
print('The P-Value of the ChiSq Test Okay is:', ChiSqResult3[1])
print('The P-Value of the ChiSq Test Delhaize is:', ChiSqResult4[1])
print('The P-Value of the ChiSq Test Versavel Poelman is:', ChiSqResult5[1])
print('The P-Value of the ChiSq Test Kruidvat is:', ChiSqResult6[1])
print('The P-Value of the ChiSq Test Brabo is:', ChiSqResult7[1])
print('The P-Value of the ChiSq Test Ikea is:', ChiSqResult8[1])
print('The P-Value of the ChiSq Test Sys is:', ChiSqResult9[1])

The P-Value of the ChiSq Test AH is: 0.1945078374722668
The P-Value of the ChiSq Test Carrefour is: 1.0
The P-Value of the ChiSq Test Okay is: 0.0362488128359972
The P-Value of the ChiSq Test Delhaize is: 0.2470091671494186
The P-Value of the ChiSq Test Versavel Poelman is: 1.0
The P-Value of the ChiSq Test Kruidvat is: 1.0
The P-Value of the ChiSq Test Brabo is: 1.0
The P-Value of the ChiSq Test Ikea is: 1.0
The P-Value of the ChiSq Test Sys is: 0.8574361239388911

- Time vs category would only matter for Okay

#### 2.1.2.2 vs store type

In [200]:
# Cross tabulation between DAY and TIME
CrosstabResult1=pd.crosstab(index=df_storet1['category'],columns=df_storet1['time'])
CrosstabResult2=pd.crosstab(index=df_storet2['category'],columns=df_storet2['time'])
CrosstabResult3=pd.crosstab(index=df_storet3['category'],columns=df_storet3['time'])
CrosstabResult4=pd.crosstab(index=df_storet4['category'],columns=df_storet4['time'])
CrosstabResult5=pd.crosstab(index=df_storet5['category'],columns=df_storet5['time'])

In [201]:
# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)
ChiSqResult3 = chi2_contingency(CrosstabResult3)
ChiSqResult4 = chi2_contingency(CrosstabResult4)
ChiSqResult5 = chi2_contingency(CrosstabResult5)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test supermarket is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test butcher is:', ChiSqResult2[1])
print('The P-Value of the ChiSq Test bakery is:', ChiSqResult3[1])
print('The P-Value of the ChiSq Test drugstore is:', ChiSqResult4[1])
print('The P-Value of the ChiSq Test furniture store is:', ChiSqResult5[1])

The P-Value of the ChiSq Test supermarket is: 0.07847463038264005
The P-Value of the ChiSq Test butcher is: 1.0
The P-Value of the ChiSq Test bakery is: 0.8574361239388911
The P-Value of the ChiSq Test drugstore is: 1.0
The P-Value of the ChiSq Test furniture store is: 1.0

- Time vs category does not matter for store type (mostly then for supermarkets)

-
## 2.2: CORRELATION 2: categories vs DAY

## 2.2.1.: vs time

In [243]:
# aggregate afternoon and evening
df['time'] = df['time'].replace(['afternoon', 'evening'], 'afternoon')

# select only these data (for time)
df_morning = df[df["time"] == morning]
df_noon = df[df["time"] == noon]
df_afternoon = df[df["time"] == afternoon]

In [270]:
# Cross tabulation between category and store type
CrosstabResult_morning =pd.crosstab(index=df_morning['category'],columns=df_morning['day'])
CrosstabResult_noon =pd.crosstab(index=df_noon['category'],columns=df_noon['day'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['category'],columns=df_afternoon['day'])

CrosstabResult_afternoon

day                        Friday  Saturday  Thursday  Tuesday
category
bakery                          2         0         0        0
beverages                       5         1         2        1
breakfast & spreads             0         0         1        0
canned foods                    1         0         3        0
care & hyygiene                 0         0         0        1
condiments                      0         0         2        0
cooking aid                     0         0         1        0
dairy & plant based             4         1         4        0
frozen foods                    0         2         1        0
fruit & vegetables             22         0         7        0
household                       1         0         0        0
meat, fish & veggie             9         0         9        0
non-food                        0         0         1        0
nuts, seeds & dried fruit       0         0         1        0
pasta & rice                    0         0         1        0
snacks                          0         0         0        1

In [245]:
# Performing Chi-sq test
ChiSqResult_morning = chi2_contingency(CrosstabResult_morning)
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for mornings:', ChiSqResult_morning[1])
print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])

The P-Value of the ChiSq Test is, for mornings: 1.2460917906544296e-05
The P-Value of the ChiSq Test is, for noons: 0.2882045510024506
The P-Value of the ChiSq Test is, for afternoons: 2.8906339569229197e-06

- At noon, it does not matter what day it is to buy certain categories
  - (E.g., It's Monday noon, could buy fruit, but could also just buy snacks though they have not done this before.)
- In morning & afternoon: there is a correlation between category & day 
  - (E.g., Its Sunday morning, most likely they buy bakery items, but probably no canned foods or condiments.)

## 2.2.2.: vs store

#### 2.1.2.1. vs store name

In [212]:
# Cross tabulation between category and day
CrosstabResult1=pd.crosstab(index=df_store1['category'],columns=df_store1['day'])
CrosstabResult2=pd.crosstab(index=df_store2['category'],columns=df_store2['day'])
CrosstabResult3=pd.crosstab(index=df_store3['category'],columns=df_store3['day'])
CrosstabResult4=pd.crosstab(index=df_store4['category'],columns=df_store4['day'])
CrosstabResult5=pd.crosstab(index=df_store5['category'],columns=df_store5['day'])
CrosstabResult6=pd.crosstab(index=df_store6['category'],columns=df_store6['day'])
CrosstabResult7=pd.crosstab(index=df_store7['category'],columns=df_store7['day'])
CrosstabResult8=pd.crosstab(index=df_store8['category'],columns=df_store8['day'])
CrosstabResult9=pd.crosstab(index=df_store9['category'],columns=df_store9['day'])
CrosstabResult9

day                  Monday  Saturday  Sunday  Tuesday  Wednesday
category
bakery                    2         8      15        4          3
dairy & plant based       0         1       0        0          0
meat, fish & veggie       0         1       1        0          0

In [213]:
# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)
ChiSqResult3 = chi2_contingency(CrosstabResult3)
ChiSqResult4 = chi2_contingency(CrosstabResult4)
ChiSqResult5 = chi2_contingency(CrosstabResult5)
ChiSqResult6 = chi2_contingency(CrosstabResult6)
ChiSqResult7 = chi2_contingency(CrosstabResult7)
ChiSqResult8 = chi2_contingency(CrosstabResult8)
ChiSqResult9 = chi2_contingency(CrosstabResult9)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test 1 is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test 2 is:', ChiSqResult2[1])
print('The P-Value of the ChiSq Test 3 is:', ChiSqResult3[1])
print('The P-Value of the ChiSq Test 4 is:', ChiSqResult4[1])
print('The P-Value of the ChiSq Test 5 is:', ChiSqResult5[1])
print('The P-Value of the ChiSq Test 6 is:', ChiSqResult6[1])
print('The P-Value of the ChiSq Test 7 is:', ChiSqResult7[1])
print('The P-Value of the ChiSq Test 8 is:', ChiSqResult8[1])
print('The P-Value of the ChiSq Test 9 is:', ChiSqResult9[1])

The P-Value of the ChiSq Test 1 is: 0.7809578184768486
The P-Value of the ChiSq Test 2 is: 1.0
The P-Value of the ChiSq Test 3 is: 0.31067263237736975
The P-Value of the ChiSq Test 4 is: 0.2470091671494186
The P-Value of the ChiSq Test 5 is: 0.2928571957080218
The P-Value of the ChiSq Test 6 is: 1.0
The P-Value of the ChiSq Test 7 is: 1.0
The P-Value of the ChiSq Test 8 is: 1.0
The P-Value of the ChiSq Test 9 is: 0.8938200079591153

No correlation. It does not matter in what store they are when buying cat X on day X

#### 2.1.2.2 vs store type

In [214]:
# Cross tabulation between DAY and TIME
CrosstabResult1=pd.crosstab(index=df_storet1['category'],columns=df_storet1['day'])
CrosstabResult2=pd.crosstab(index=df_storet2['category'],columns=df_storet2['day'])
CrosstabResult3=pd.crosstab(index=df_storet3['category'],columns=df_storet3['day'])
CrosstabResult4=pd.crosstab(index=df_storet4['category'],columns=df_storet4['day'])
CrosstabResult5=pd.crosstab(index=df_storet5['category'],columns=df_storet5['day'])
CrosstabResult1

day,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
category,,,,,,,
bakery,2,1,0,1,1,0,2
beverages,5,2,4,5,3,4,0
breakfast & spreads,0,1,1,1,3,2,0
canned foods,1,0,4,0,5,3,0
condiments,0,0,1,2,2,0,0
cooking aid,0,0,0,0,1,3,0
dairy & plant based,4,5,14,12,11,6,0
frozen foods,0,0,9,1,2,4,0
fruit & vegetables,23,10,24,21,12,9,4
household,1,0,0,0,0,0,0
"meat, fish & veggie",9,5,9,14,11,4,0
non-food,0,1,0,0,1,0,0
"nuts, seeds & dried fruit",0,0,1,0,1,1,0
pasta & rice,0,2,0,0,1,0,0
snacks,0,3,3,4,3,1,0

In [216]:
# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)
ChiSqResult3 = chi2_contingency(CrosstabResult3)
ChiSqResult4 = chi2_contingency(CrosstabResult4)
ChiSqResult5 = chi2_contingency(CrosstabResult5)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test 1 (supermarkets) is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test 2 is:', ChiSqResult2[1])
print('The P-Value of the ChiSq Test 3 is:', ChiSqResult3[1])
print('The P-Value of the ChiSq Test 4 is:', ChiSqResult4[1])
print('The P-Value of the ChiSq Test 5 is:', ChiSqResult5[1])

The P-Value of the ChiSq Test 1 (supermarkets) is: 0.0008093719555801397
The P-Value of the ChiSq Test 2 is: 0.3251111450880991
The P-Value of the ChiSq Test 3 is: 0.8938200079591153
The P-Value of the ChiSq Test 4 is: 1.0
The P-Value of the ChiSq Test 5 is: 1.0

Only for supermarkets, it matters what categories are bought on which day

-
# 2.3: CORRELATION 3: categories vs store name

## 2.3.1: vs time

In [273]:
# Cross tabulation between category and store type
CrosstabResult_morning =pd.crosstab(index=df_morning['category'],columns=df_morning['store_name'])
CrosstabResult_noon =pd.crosstab(index=df_noon['category'],columns=df_noon['store_name'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['category'],columns=df_afternoon['store_name'])
CrosstabResult_evening =pd.crosstab(index=df_evening['category'],columns=df_evening['store_name'])

In [274]:
# Performing Chi-sq test
ChiSqResult_morning = chi2_contingency(CrosstabResult_morning)
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)
ChiSqResult_evening = chi2_contingency(CrosstabResult_evening)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for mornings:', ChiSqResult_morning[1])
print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])
print('The P-Value of the ChiSq Test is, for evenings:', ChiSqResult_evening[1])

The P-Value of the ChiSq Test is, for mornings: 5.703089415883286e-38
The P-Value of the ChiSq Test is, for noons: 0.0015602479859569403
The P-Value of the ChiSq Test is, for afternoons: 4.495129889258484e-07
The P-Value of the ChiSq Test is, for evenings: 0.19418484873436417

#### Aggregating afternoon and eveneing (too few evening values)

In [275]:
# aggregate afternoon and evening
df['time'] = df['time'].replace(['afternoon', 'evening'], 'afternoon')

# select only these data (for time)
df_morning = df[df["time"] == morning]
df_noon = df[df["time"] == noon]
df_afternoon = df[df["time"] == afternoon]

In [276]:
# Cross tabulation between category and store type
CrosstabResult_morning =pd.crosstab(index=df_morning['category'],columns=df_morning['store_name'])
CrosstabResult_noon =pd.crosstab(index=df_noon['category'],columns=df_noon['store_name'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['category'],columns=df_afternoon['store_name'])

CrosstabResult_afternoon

store_name,Albert Heijn,Brabo,Carrefour,Delhaize,Kruidvat,Okay
category,,,,,,
bakery,1,0,0,2,0,1
beverages,2,0,0,5,1,4
breakfast & spreads,1,0,1,0,0,3
canned foods,0,0,1,1,0,5
care & hyygiene,0,0,0,0,1,0
condiments,0,0,1,0,0,2
cooking aid,0,0,0,0,0,1
dairy & plant based,5,0,8,4,0,12
frozen foods,0,0,0,0,0,4
fruit & vegetables,7,0,12,22,0,9
household,0,0,0,1,0,0
"meat, fish & veggie",4,6,5,9,0,11
non-food,1,0,0,0,0,1
"nuts, seeds & dried fruit",0,0,0,0,0,1
pasta & rice,2,0,0,0,0,1
snacks,3,0,3,0,1,0

In [256]:
# Performing Chi-sq test
ChiSqResult_morning = chi2_contingency(CrosstabResult_morning)
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for mornings:', ChiSqResult_morning[1])
print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])

The P-Value of the ChiSq Test is, for mornings: 5.703089415883286e-38
The P-Value of the ChiSq Test is, for noons: 0.0015602479859569403
The P-Value of the ChiSq Test is, for afternoons: 6.581342550479261e-07

## 2.3.2: vs day

In [284]:
# Cross tabulation between category and store type
CrosstabResult_Monday =pd.crosstab(index=df_Monday['category'],columns=df_Monday['store_name'], dropna=False)
CrosstabResult_Tuesday =pd.crosstab(index=df_Tuesday['category'],columns=df_Tuesday['store_name'], dropna=False)
CrosstabResult_Wednesday =pd.crosstab(index=df_Wednesday['category'],columns=df_Wednesday['store_name'], dropna=False)
CrosstabResult_Thursday =pd.crosstab(index=df_Thursday['category'],columns=df_Thursday['store_name'], dropna=False)
CrosstabResult_Friday =pd.crosstab(index=df_Friday['category'],columns=df_Friday['store_name'], dropna=False)
CrosstabResult_Saturday =pd.crosstab(index=df_Saturday['category'],columns=df_Saturday['store_name'], dropna=False)
CrosstabResult_Sunday =pd.crosstab(index=df_Sunday['category'],columns=df_Sunday['store_name'], dropna=False)
CrosstabResult_Sunday

store_name           Albert Heijn  Delhaize  Sys  Versavel Poelman
category
bakery                          0         1   15                 0
beverages                       0         5    0                 0
breakfast & spreads             0         1    0                 0
condiments                      0         2    0                 0
dairy & plant based             0        12    0                 0
frozen foods                    0         1    0                 0
fruit & vegetables              1        20    0                 0
meat, fish & veggie             0        14    1                 7
snacks                          1         3    0                 0

In [278]:
# Performing Chi-sq test
Monday = chi2_contingency(CrosstabResult_Monday)
Tuesday = chi2_contingency(CrosstabResult_Tuesday)
Wednesday = chi2_contingency(CrosstabResult_Wednesday)
Thursday = chi2_contingency(CrosstabResult_Thursday)
Friday = chi2_contingency(CrosstabResult_Friday)
Saturday = chi2_contingency(CrosstabResult_Saturday)
Sunday = chi2_contingency(CrosstabResult_Sunday)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for Mondays:', Monday[1])
print('The P-Value of the ChiSq Test is, for Tuesdays:', Tuesday[1])
print('The P-Value of the ChiSq Test is, for Wednesdays:', Wednesday[1])
print('The P-Value of the ChiSq Test is, for Thursdays:', Thursday[1])
print('The P-Value of the ChiSq Test is, for Fridays:', Friday[1])
print('The P-Value of the ChiSq Test is, for Saturdays:', Saturday[1])
print('The P-Value of the ChiSq Test is, for Sundays:', Sunday[1])

The P-Value of the ChiSq Test is, for Mondays: 0.001993863825402251
The P-Value of the ChiSq Test is, for Tuesdays: 1.6933488522738976e-06
The P-Value of the ChiSq Test is, for Wednesdays: 0.23567991342903416
The P-Value of the ChiSq Test is, for Thursdays: 0.0010049249124857089
The P-Value of the ChiSq Test is, for Fridays: 0.3745641597293431
The P-Value of the ChiSq Test is, for Saturdays: 1.9434776505390552e-13
The P-Value of the ChiSq Test is, for Sundays: 1.220410924087907e-11

-
# 2.4: CORRELATION 4: categories vs store TYPE

## 2.4.1: vs time

In [303]:
# Cross tabulation between category and store type
CrosstabResult_morning =pd.crosstab(index=df_morning['category'],columns=df_morning['store_type'])
CrosstabResult_noon =pd.crosstab(index=df_noon['category'],columns=df_noon['store_type'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['category'],columns=df_afternoon['store_type'])

CrosstabResult_afternoon

store_type                 butcher  drugstore  supermarket
category
bakery                           0          0            4
beverages                        0          1           11
breakfast & spreads              0          0            5
canned foods                     0          0            7
care & hyygiene                  0          1            0
condiments                       0          0            3
cooking aid                      0          0            1
dairy & plant based              0          0           29
frozen foods                     0          0            4
fruit & vegetables               0          0           50
household                        0          0            1
meat, fish & veggie              6          0           29
non-food                         0          0            2
nuts, seeds & dried fruit        0          0            1
pasta & rice                     0          0            3
snacks                           0          1            6

In [300]:
# Performing Chi-sq test
ChiSqResult_morning = chi2_contingency(CrosstabResult_morning)
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for mornings:', ChiSqResult_morning[1])
print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])

The P-Value of the ChiSq Test is, for mornings: 1.1973200320848654e-34
The P-Value of the ChiSq Test is, for noons: 0.08238840360323983
The P-Value of the ChiSq Test is, for afternoons: 1.0719187691810818e-07

## 2.4.2: vs day

In [309]:
# Cross tabulation between category and store type
CrosstabResult_Monday =pd.crosstab(index=df_Monday['category'],columns=df_Monday['store_type'], dropna=False)
CrosstabResult_Tuesday =pd.crosstab(index=df_Tuesday['category'],columns=df_Tuesday['store_type'], dropna=False)
CrosstabResult_Wednesday =pd.crosstab(index=df_Wednesday['category'],columns=df_Wednesday['store_type'], dropna=False)
CrosstabResult_Thursday =pd.crosstab(index=df_Thursday['category'],columns=df_Thursday['store_type'], dropna=False)
CrosstabResult_Friday =pd.crosstab(index=df_Friday['category'],columns=df_Friday['store_type'], dropna=False)
CrosstabResult_Saturday =pd.crosstab(index=df_Saturday['category'],columns=df_Saturday['store_type'], dropna=False)
CrosstabResult_Sunday =pd.crosstab(index=df_Sunday['category'],columns=df_Sunday['store_type'], dropna=False)
CrosstabResult_Sunday

store_type           bakery  butcher  supermarket
category
bakery                   15        0            1
beverages                 0        0            5
breakfast & spreads       0        0            1
condiments                0        0            2
dairy & plant based       0        0           12
frozen foods              0        0            1
fruit & vegetables        0        0           21
meat, fish & veggie       1        7           14
snacks                    0        0            4

In [305]:
# Performing Chi-sq test
Monday = chi2_contingency(CrosstabResult_Monday)
Tuesday = chi2_contingency(CrosstabResult_Tuesday)
Wednesday = chi2_contingency(CrosstabResult_Wednesday)
Thursday = chi2_contingency(CrosstabResult_Thursday)
Friday = chi2_contingency(CrosstabResult_Friday)
Saturday = chi2_contingency(CrosstabResult_Saturday)
Sunday = chi2_contingency(CrosstabResult_Sunday)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for Mondays:', Monday[1])
print('The P-Value of the ChiSq Test is, for Tuesdays:', Tuesday[1])
print('The P-Value of the ChiSq Test is, for Wednesdays:', Wednesday[1])
print('The P-Value of the ChiSq Test is, for Thursdays:', Thursday[1])
print('The P-Value of the ChiSq Test is, for Fridays:', Friday[1])
print('The P-Value of the ChiSq Test is, for Saturdays:', Saturday[1])
print('The P-Value of the ChiSq Test is, for Sundays:', Sunday[1])

The P-Value of the ChiSq Test is, for Mondays: 0.001993863825402251
The P-Value of the ChiSq Test is, for Tuesdays: 1.6933488522739098e-06
The P-Value of the ChiSq Test is, for Wednesdays: 0.23567991342903416
The P-Value of the ChiSq Test is, for Thursdays: 0.15964689241641922
The P-Value of the ChiSq Test is, for Fridays: 0.0634003157445733
The P-Value of the ChiSq Test is, for Saturdays: 1.2130305684146801e-12
The P-Value of the ChiSq Test is, for Sundays: 8.669795129102298e-13

-
## CORRELATION 3: category vs. week

In [219]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2.csv")
# Cross tabulation
CrosstabResult=pd.crosstab(index=df['category'],columns=df['week'])
CrosstabResult

week                        1  2  3   4  5   6   7   8
category
bakery                     12  3  4   8  3   3   5   1
beverages                   5  2  3   3  4   4   2   3
breakfast & spreads         2  1  2   0  1   0   1   1
canned foods                5  3  2   0  0   3   0   0
care & hyygiene             0  0  0   0  0   1   0   0
condiments                  1  2  0   0  0   0   2   0
cooking aid                 0  1  0   0  3   0   0   0
dairy & plant based        13  4  7   6  6   5   7   6
frozen foods                0  1  1   1  4   7   0   2
fruit & vegetables         34  8  3  10  9  12  14  13
household                   1  0  0   0  0   0   0   0
meat, fish & veggie        22  9  8   8  9  11   8   4
non-food                    0  1  0   0  0   0   0   1
nuts, seeds & dried fruit   0  1  0   0  1   1   0   0
pasta & rice                0  1  0   0  0   0   0   2
snacks                      3  0  1   1  1   1   3   5

In [220]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

## Big correlations here: certain categories are bought at different times

The P-Value of the ChiSq Test is: 0.017490778823717523

##### Let's try split up per day/store/storename

In [118]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df_HH2.csv")

# select only these data (for day, store, store name)
# df= df[df["day"] == day]
df= df[df["store_type"] == store]
# df= df[df["store_name"] == storename]

In [121]:
# Cross tabulation between category and store type
CrosstabResult=pd.crosstab(index=df['category'],columns=df['week'])
CrosstabResult

week                        1  2  3   4  5   6   7   8
category
bakery                      4  0  1   0  0   0   1   1
beverages                   5  2  1   3  4   3   2   3
breakfast & spreads         2  1  2   0  1   0   1   1
canned foods                5  3  2   0  0   3   0   0
condiments                  1  2  0   0  0   0   2   0
cooking aid                 0  1  0   0  3   0   0   0
dairy & plant based        13  4  7   6  5   5   6   6
frozen foods                0  1  1   1  4   7   0   2
fruit & vegetables         34  8  3  10  9  12  14  13
household                   1  0  0   0  0   0   0   0
meat, fish & veggie        14  3  8   8  4   4   7   4
non-food                    0  1  0   0  0   0   0   1
nuts, seeds & dried fruit   0  1  0   0  1   1   0   0
pasta & rice                0  1  0   0  0   0   0   2
snacks                      3  0  1   1  1   0   3   5

In [122]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

## This is a strong correlation (significant), lets try to split it up more to see the intricacies per store name

The P-Value of the ChiSq Test is: 0.008824474623167012

They don't buy (the same amount) from each category every week
> We can check which items are bought in +- fixed intervals and decide if they might need them in the 9th week