## 3: THIRD ALGORITHM - AT WHAT TIME WILL THEY SHOP?

Outcome (example):
1. input: Monday,Tuesday...
2. output: noon/morning/afternoon

### Import libraries

In [2]:
# %matplotlib notebook
%matplotlib inline
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
import dataframe_image as dfi
from datetime import time
import matplotlib.dates as mdates
from matplotlib.ticker import StrMethodFormatter
from matplotlib.pyplot import figure

### Load and view data

In [3]:
# data for HH
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2.csv")

In [4]:
# data for different days vs stores
df_Monday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_MoTime.csv")
df_Tuesday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_TuTime.csv")
df_Wednesday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_WeTime.csv")
df_Thursday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_ThTime.csv")
df_Friday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_FrTime.csv")
df_Saturday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SaTime.csv")
df_Sunday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_SuTime.csv")

# SELECT TIME

In [6]:
#create random samples for this day based on the assigned weights
df_Mondays = df_Monday.sample(n=1, weights='weight') 
df_Mondays

      time  weight
1  morning       2

In [17]:
#create random samples for this day based on the assigned weights
df_Tuesdays = df_Tuesday.sample(n=1, weights='weight')
df_Tuesdays

        time  weight
0  afternoon       1

In [20]:
#create random samples for this day based on the assigned weights
df_Wednesdays = df_Wednesday.sample(n=1, weights='weight')
df_Wednesdays

      time  weight
0  morning       2

In [32]:
#create random samples for this day based on the assigned weights
df_Thursdays = df_Thursday.sample(n=1, weights='weight')
df_Thursdays

        time  weight
0  afternoon       3

In [26]:
#create random samples for this day based on the assigned weights
df_Fridays = df_Friday.sample(n=1, weights='weight')
df_Fridays

      time  weight
1  morning       1

In [9]:
#create random samples for this day based on the assigned weights
df_Saturdays = df_Saturday.sample(n=1, weights='weight')
df_Saturdays

        time  weight
0  afternoon       2

In [10]:
#create random samples for this day based on the assigned weights
df_Sundays = df_Sunday.sample(n=1, weights='weight')
df_Sundays

      time  weight
0  morning       9