## 3: CORRELATIONS -WHERE WILL THEY SHOP?

### Import libraries

In [1]:
# %matplotlib notebook
%matplotlib inline
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
import dataframe_image as dfi
from datetime import time
import matplotlib.dates as mdates
from matplotlib.ticker import StrMethodFormatter
from matplotlib.pyplot import figure



from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.tree import DecisionTreeClassifier, export_graphviz, plot_tree

In [2]:
# importing the required function
from scipy.stats import chi2_contingency

### Load and view data

In [3]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3.csv")

# del df["HH"]
# df.describe(include='all')

In [4]:
# use the corr function to display the correlation between all the features
data_corr = df.corr()
# data_corr

In [5]:
# df_count = df[['order_ID','store_name', 'day']]
# df_count = df_count.drop_duplicates()
# df_count = df_count.drop(columns=['order_ID'])
# df_count.head()

-
# 1. Where?

## ALL ORDERS

### check correlation per store TYPE

In [6]:
df_orders = df[['order_ID', 'store_name', 'storename_num', 'store_type', 'storetype_num','day', 'day_num', 'time', 'time_num', 'timestamp', 'times', 'dates', 'times_min', 'dates_days', 'order_amount', 'order_price']]
df_orders = df_orders.drop_duplicates()

In [7]:
# Cross tabulation between DAY and STORE TYPE
CrosstabResult=pd.crosstab(index=df_orders['store_type'],columns=df_orders['day'])
CrosstabResult

day           Friday  Monday  Sunday  Thursday  Tuesday  Wednesday
store_type
bakery             0       0       4         0        1          0
pet supplies       1       0       0         1        0          0
supermarket        0       4       0         2        2          3

In [8]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 0.004606756661761025

### Significant: day of week is correlated with store type


> e.g.: they would go to the bakery mostly on Sunday

### check correlation per store NAME

In [9]:
# Cross tabulation between DAY and STORE NAME
CrosstabResult=pd.crosstab(index=df_orders['store_name'],columns=df_orders['day'])
CrosstabResult

day           Friday  Monday  Sunday  Thursday  Tuesday  Wednesday
store_name
Albert Heijn       0       1       0         0        0          0
Aldi               0       1       0         0        2          0
Colruyt            0       2       0         0        0          3
Delhaize           0       0       0         1        0          0
Food Factory       0       0       0         1        0          0
Maxi Zoo           0       0       0         1        0          0
Tine               0       0       0         0        1          0
Tom&Co             1       0       0         0        0          0
Vanessa            0       0       3         0        0          0
Wouters            0       0       1         0        0          0

In [10]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 0.009107207700892746

### check correlation per TIME

In [24]:
# Cross tabulation between DAY and STORE NAME
CrosstabResult=pd.crosstab(index=df_orders['store_name'],columns=df_orders['time'])

# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

In [13]:
# Cross tabulation between DAY and STORE NAME
CrosstabResult=pd.crosstab(index=df_orders['store_type'],columns=df_orders['time'])
CrosstabResult

# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

time          afternoon  evening  noon
store_type
bakery                0        0     5
pet supplies          2        0     0
supermarket           6        5     0

Significant!
- Once we know the time, we can derive the store type or vice-versa
-  Also: we can relate store name to the day

## 1.1. SPECIFIC: STORE per TIME

In [21]:
# define data
noon = 'noon'
afternoon = 'afternoon'
evening = 'evening'

# select only these data (for time)
df_noon = df_orders[df_orders["time"] == noon]
df_afternoon = df_orders[df_orders["time"] == afternoon]
df_evening = df_orders[df_orders["time"] == evening]

In [22]:
# Cross tabulation between category and store type
CrosstabResult_noon =pd.crosstab(index=df_noon['store_name'],columns=df_noon['day'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['store_name'],columns=df_afternoon['day'])
CrosstabResult_evening =pd.crosstab(index=df_evening['store_name'],columns=df_evening['day'])

# Performing Chi-sq test
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)
ChiSqResult_evening = chi2_contingency(CrosstabResult_evening)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])
print('The P-Value of the ChiSq Test is, for evenings:', ChiSqResult_evening[1])

The P-Value of the ChiSq Test is, for noons: 0.08208499862389874
The P-Value of the ChiSq Test is, for afternoons: 0.3531649328512703
The P-Value of the ChiSq Test is, for evenings: 0.0820849986238988

In [23]:
# Select only one day
Monday = 'Monday'
Tuesday = 'Tuesday'
Wednesday = 'Wednesday'
Thursday = 'Thursday'
Friday = 'Friday'
Saturday = 'Saturday'
Sunday = 'Sunday'

# select only these data for the df
df_Monday = df_orders[df_orders['day'] == 'Monday']
df_Tuesday = df_orders[df_orders['day'] == 'Tuesday']
df_Wednesday = df_orders[df_orders['day'] == 'Wednesday']
df_Thursday = df_orders[df_orders['day'] == 'Thursday']
df_Friday = df_orders[df_orders['day'] == 'Friday']
df_Saturday = df_orders[df_orders['day'] == 'Saturday']
df_Sunday = df_orders[df_orders['day'] == 'Sunday']

CrosstabResult_Mo=pd.crosstab(index=df_Monday['store_name'],columns=df_Monday['time'])
CrosstabResult_Tu=pd.crosstab(index=df_Tuesday['store_name'],columns=df_Tuesday['time'])
CrosstabResult_We=pd.crosstab(index=df_Wednesday['store_name'],columns=df_Wednesday['time'])
CrosstabResult_Th=pd.crosstab(index=df_Thursday['store_name'],columns=df_Thursday['time'])
CrosstabResult_Fr=pd.crosstab(index=df_Friday['store_name'],columns=df_Friday['time'])
CrosstabResult_Sa=pd.crosstab(index=df_Saturday['store_name'],columns=df_Saturday['time'])
CrosstabResult_Su=pd.crosstab(index=df_Sunday['store_name'],columns=df_Sunday['time'])

In [20]:
# Performing Chi-sq test
ChiSqResult_Mo = chi2_contingency(CrosstabResult_Mo)
ChiSqResult_Tu = chi2_contingency(CrosstabResult_Tu)
ChiSqResult_We = chi2_contingency(CrosstabResult_We)
ChiSqResult_Th = chi2_contingency(CrosstabResult_Th)
ChiSqResult_Fr = chi2_contingency(CrosstabResult_Fr)
# ChiSqResult_Sa = chi2_contingency(CrosstabResult_Sa)
ChiSqResult_Su = chi2_contingency(CrosstabResult_Su)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test for Monday is:', ChiSqResult_Mo[1])
print('The P-Value of the ChiSq Test for Tuesday is:', ChiSqResult_Tu[1])
print('The P-Value of the ChiSq Test for Wednesday is:', ChiSqResult_We[1])
print('The P-Value of the ChiSq Test for Thursday is:', ChiSqResult_Th[1])
print('The P-Value of the ChiSq Test for Friday is:', ChiSqResult_Fr[1])
# print('The P-Value of the ChiSq Test for Saturday is:', ChiSqResult_Sa[1])
print('The P-Value of the ChiSq Test for Sunday is:', ChiSqResult_Su[1])

The P-Value of the ChiSq Test for Monday is: 0.1353352832366127
The P-Value of the ChiSq Test for Tuesday is: 0.22313016014842982
The P-Value of the ChiSq Test for Wednesday is: 1.0
The P-Value of the ChiSq Test for Thursday is: 1.0
The P-Value of the ChiSq Test for Friday is: 1.0
The P-Value of the ChiSq Test for Sunday is: 1.0

#### Not significant.
- But: once we know the day, we can derive the store name and/or store type

# 2.1 New Dataframes to 'randomize' stores (weighted)

In [20]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3.csv")

In [21]:
stores = ['MCD', 'De Pers', 'Albert Heijn']
df['store_name'] = pd.Categorical(df['store_name'], categories=stores, ordered=True)
df_storename = df.sort_values(by=['week','store_name'])

# grouping the variables for week, store and unique order id's
df_storename = df.groupby(['week', 'store_name'])['order_ID'].nunique()
df_storename = pd.DataFrame (df_storename)
df_storename.head()

# make grid for stores vs. week
df_storename1 = df_storename.groupby(['week', 'store_name'])['order_ID'].aggregate('first').unstack()
df_storename1 = df_storename1.reset_index()
df_storename1.replace(0, np.nan, inplace=True)
df_storename1

# second grid to generate extra variables
df_storename2 = df_storename1.copy()
del df_storename2["week"]
# column for total grocery visits
df_storename1['sum'] = df_storename2.sum(axis=1)
# column for total days shopped
df_storename1['ndays'] = df_storename2.count(axis=1)
# column for median visits/week
df_storename1['med'] = df_storename2.median(numeric_only=True, axis=1)

df_storename1 = df_storename1.round(0)
del df_storename1["week"]

#### Generate randomized weeks

In [22]:
def storename():
    # split up df to first and second period
    df_storename = df_storename1

    df_storename = df_storename. replace(np. nan,0)
    
    return df_storename

# 2.2. New Dataframes from TIME & DAY

In [25]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3.csv")

In [26]:
# Select only one day
Monday = 'Monday'
Tuesday = 'Tuesday'
Wednesday = 'Wednesday'
Thursday = 'Thursday'
Friday = 'Friday'
Saturday = 'Saturday'
Sunday = 'Sunday'

# select only these data for the df
df_Monday = df[df['day'] == 'Monday']
df_Tuesday = df[df['day'] == 'Tuesday']
df_Wednesday = df[df['day'] == 'Wednesday']
df_Thursday = df[df['day'] == 'Thursday']
df_Friday = df[df['day'] == 'Friday']
df_Saturday = df[df['day'] == 'Saturday']
df_Sunday = df[df['day'] == 'Sunday']

In [28]:
# define data
noon = 'noon'
afternoon = 'afternoon'
evening = 'evening'

# select only these data (for time)
df_noon = df[df["time"] == noon]
df_afternoon = df[df["time"] == afternoon]
df_evening = df[df["time"] == evening]

In [35]:
df_Mo = df_Monday.groupby(['store_name', 'store_type', 'day'])['order_ID'].nunique()
df_Mo = pd.DataFrame (df_Mo)
df_Mo = df_Mo.reset_index()
df_Mo = df_Mo.loc[~(df_Mo==0).any(axis=1)]
df_Mo = df_Mo.rename(columns={"order_ID": "weight"})
df_Mo

df_Tu = df_Tuesday.groupby(['store_name', 'store_type', 'day'])['order_ID'].nunique()
df_Tu = pd.DataFrame (df_Tu)
df_Tu = df_Tu.reset_index()
df_Tu = df_Tu.loc[~(df_Tu==0).any(axis=1)]
df_Tu = df_Tu.rename(columns={"order_ID": "weight"})
df_Tu

df_We = df_Wednesday.groupby(['store_name', 'store_type', 'day'])['order_ID'].nunique()
df_We = pd.DataFrame (df_We)
df_We = df_We.reset_index()
df_We = df_We.loc[~(df_We==0).any(axis=1)]
df_We = df_We.rename(columns={"order_ID": "weight"})

df_Th = df_Thursday.groupby(['store_name', 'store_type', 'day'])['order_ID'].nunique()
df_Th = pd.DataFrame (df_Th)
df_Th = df_Th.reset_index()
df_Th = df_Th.loc[~(df_Th==0).any(axis=1)]
df_Th = df_Th.rename(columns={"order_ID": "weight"})

df_Fr = df_Friday.groupby(['store_name', 'store_type', 'day'])['order_ID'].nunique()
df_Fr = pd.DataFrame (df_Fr)
df_Fr = df_Fr.reset_index()
df_Fr = df_Fr.loc[~(df_Fr==0).any(axis=1)]
df_Fr = df_Fr.rename(columns={"order_ID": "weight"})

df_Sa = df_Saturday.groupby(['store_name', 'store_type','day'])['order_ID'].nunique()
df_Sa = pd.DataFrame (df_Sa)
df_Sa = df_Sa.reset_index()
df_Sa = df_Sa.loc[~(df_Sa==0).any(axis=1)]
df_Sa = df_Sa.rename(columns={"order_ID": "weight"})

df_Su = df_Sunday.groupby(['store_name', 'store_type', 'day'])['order_ID'].nunique()
df_Su = pd.DataFrame (df_Su)
df_Su = df_Su.reset_index()
df_Su = df_Su.loc[~(df_Su==0).any(axis=1)]
df_Su = df_Su.rename(columns={"order_ID": "weight"})

In [36]:
df_Mo.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3_Mo.csv", index = None, header=True)
df_Tu.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3_Tu.csv", index = None, header=True)
df_We.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3_We.csv", index = None, header=True)
df_Th.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3_Th.csv", index = None, header=True)
df_Fr.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3_Fr.csv", index = None, header=True)
df_Sa.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3_Sa.csv", index = None, header=True)
df_Su.to_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3_Su.csv", index = None, header=True)

# CONCLUSION

We now have our first THREE givens:
> 1. It is <b>day X</b>
> 2. It is <b>time X</b>
3. The HH will shop at <b>store name X</b>