## 5: FILTER - amount/price per order

### Import libraries

In [24]:
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from matplotlib.ticker import StrMethodFormatter
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
import dataframe_image as dfi
from scipy.stats import f_oneway

### Load and view data

In [25]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2.csv")

# del df["HH"]
df.describe(include='all')

,week,order_ID,item_name,amount,price_unit,price_total,item_type,category,day,time,...,storetype_num,storename_num,cat_num,time_num,datetime,timestamp,dates,times,times_min,dates_days
count,372.000000,372.000000,372,372.000000,372.000000,372.000000,372,372,372,372,...,372.000000,372.000000,372.000000,372.000000,372,3.720000e+02,372,372,372.000000,3.720000e+02
unique,NaN,NaN,314,NaN,NaN,NaN,139,16,7,4,...,NaN,NaN,NaN,NaN,40,NaN,26,35,NaN,NaN
top,NaN,NaN,GROF BROOD GESN.,NaN,NaN,NaN,charcuterie,fruit & vegetables,Saturday,morning,...,NaN,NaN,NaN,NaN,2021-11-26 17:25:00,NaN,2022-01-08,17:25:00,NaN,NaN
freq,NaN,NaN,6,NaN,NaN,NaN,25,103,87,186,...,NaN,NaN,NaN,NaN,44,NaN,45,44,NaN,NaN
mean,4.043011,18.881720,NaN,1.274194,2.602328,2.867247,NaN,NaN,NaN,NaN,...,3.392473,4.212366,7.462366,1.387097,NaN,1.639888e+18,NaN,NaN,1353.930108,2.021425e+07
std,2.478648,10.908193,NaN,1.103819,1.947725,2.019200,NaN,NaN,NaN,NaN,...,1.344550,2.396214,4.079557,0.896621,NaN,1.924092e+15,NaN,NaN,371.187009,4.252837e+03
min,1.000000,1.000000,NaN,1.000000,0.064680,0.064680,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,1.637435e+18,NaN,NaN,802.000000,2.021112e+07
25%,1.000000,8.000000,NaN,1.000000,1.300000,1.543970,NaN,NaN,NaN,NaN,...,4.000000,3.000000,6.000000,1.000000,NaN,1.637948e+18,NaN,NaN,1055.000000,2.021113e+07
50%,4.000000,20.000000,NaN,1.000000,2.240250,2.462860,NaN,NaN,NaN,NaN,...,4.000000,4.000000,9.000000,2.000000,NaN,1.639306e+18,NaN,NaN,1179.500000,2.021121e+07
75%,6.000000,26.250000,NaN,1.000000,3.290000,3.875000,NaN,NaN,NaN,NaN,...,4.000000,6.000000,11.000000,2.000000,NaN,1.641640e+18,NaN,NaN,1725.000000,2.022011e+07
max,8.000000,39.000000,NaN,15.000000,15.610000,15.610000,NaN,NaN,NaN,NaN,...,4.000000,8.000000,15.000000,3.000000,NaN,1.643286e+18,NaN,NaN,1858.000000,2.022013e+07

In [38]:
df_orders = df[['order_ID', 'store_name', 'storename_num', 'store_type', 'storetype_num','day', 'day_num', 'time', 'time_num', 'timestamp', 'times', 'dates', 'times_min', 'dates_days', 'order_amount', 'order_price']]
df_orders = df_orders.drop_duplicates()

# ORDER AMOUNT - Check the correlations

## General correlations

In [74]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
 
# Assumption(H0) is that amount and storeTYPE  are NOT correlated
 
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists=df_orders.groupby('store_type')['order_amount'].apply(list)
print(CategoryGroupLists)

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists)
print('P-Value for Anova is: ', AnovaResults[1])

store_type
bakery                         [4, 2, 7, 9, 2, 5, 2, 8, 2, 6, 6, 13]
butcher                                                 [7, 6, 6, 7]
drugstore                                                        [3]
furniture store                                                  [2]
supermarket        [31, 9, 2, 50, 1, 36, 2, 38, 34, 1, 53, 38, 34...
Name: order_amount, dtype: object
P-Value for Anova is:  0.1717502636546628

In [75]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
 
# Assumption(H0) is that amount and storeNAME  are NOT correlated
 
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists=df_orders.groupby('store_name')['order_amount'].apply(list)
print(CategoryGroupLists)

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists)
print('P-Value for Anova is: ', AnovaResults[1])

store_name
Albert Heijn        [2, 1, 2, 1, 2, 2, 3, 2, 26, 2, 3, 1]
Brabo                                                 [6]
Carrefour                                            [31]
Delhaize                                     [50, 34, 34]
Ikea                                                  [2]
Kruidvat                                              [3]
Okay                               [9, 36, 38, 53, 38, 9]
Sys                 [4, 2, 7, 9, 2, 5, 2, 8, 2, 6, 6, 13]
Versavel Poelman                                [7, 6, 7]
Name: order_amount, dtype: object
P-Value for Anova is:  8.857540093528802e-07

In [77]:
# aggregate afternoon and evening
df_orders['time'] = df_orders['time'].replace(['afternoon', 'evening'], 'afternoon')

# f_oneway() function takes the group data as input and returns F-statistic and P-value
 
# Assumption(H0) is that amount and TIME  are NOT correlated
 
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists=df_orders.groupby('time')['order_amount'].apply(list)
print(CategoryGroupLists)

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists)
print('P-Value for Anova is: ', AnovaResults[1])

time
afternoon                        [31, 50, 36, 6, 38, 3, 9, 26]
morning      [4, 7, 2, 1, 9, 2, 2, 5, 2, 2, 8, 34, 6, 2, 53...
noon                            [9, 7, 2, 1, 2, 2, 3, 2, 2, 1]
Name: order_amount, dtype: object
P-Value for Anova is:  0.005352426314790171

In [63]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
 
# Assumption(H0) is that amount and DAY  are NOT correlated
 
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists=df_orders.groupby('day')['order_amount'].apply(list)
CategoryGroupLists

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists)
print('P-Value for Anova is: ', AnovaResults[1])

P-Value for Anova is:  0.6673667978222161

## Narrowed down correlations - AMOUNT VS. STORE NAME

### Per DAY

In [52]:
# define data
Monday = 'Monday'
Tuesday = 'Tuesday'
Wednesday = 'Wednesday'
Thursday = 'Thursday'
Friday = 'Friday'
Saturday = 'Saturday'
Sunday = 'Sunday'

# select only these data (for day, store, store name)
df_Monday = df_orders[df_orders["day"] == Monday]
df_Tuesday = df_orders[df_orders["day"] == Tuesday]
df_Wednesday = df_orders[df_orders["day"] == Wednesday]
df_Thursday = df_orders[df_orders["day"] == Thursday]
df_Friday = df_orders[df_orders["day"] == Friday]
df_Saturday = df_orders[df_orders["day"] == Saturday]
df_Sunday = df_orders[df_orders["day"] == Sunday]

In [53]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
  
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists1=df_Monday.groupby('store_name')['order_amount'].apply(list)
CategoryGroupLists2=df_Tuesday.groupby('store_name')['order_amount'].apply(list)
CategoryGroupLists3=df_Wednesday.groupby('store_name')['order_amount'].apply(list)
CategoryGroupLists4=df_Thursday.groupby('store_name')['order_amount'].apply(list)
CategoryGroupLists5=df_Friday.groupby('store_name')['order_amount'].apply(list)
CategoryGroupLists6=df_Saturday.groupby('store_name')['order_amount'].apply(list)
CategoryGroupLists7=df_Sunday.groupby('store_name')['order_amount'].apply(list)

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists1)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists2)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists3)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists4)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists5)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists6)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists7)
print('P-Value for Anova is: ', AnovaResults[1])

P-Value for Anova is:  0.9061568277130009
P-Value for Anova is:  0.548042100497963
P-Value for Anova is:  0.001369331236881077
P-Value for Anova is:  0.0015211439002129601
P-Value for Anova is:  nan
P-Value for Anova is:  0.40319288121673885
P-Value for Anova is:  8.292449947419124e-05

### Per TIME

In [78]:
# define data
morning = 'morning'
noon = 'noon'
afternoon = 'afternoon'

# select only these data (for time)
df_morning = df_orders[df_orders["time"] == morning]
df_noon = df_orders[df_orders["time"] == noon]
df_afternoon = df_orders[df_orders["time"] == afternoon]

In [79]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
  
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists1=df_morning.groupby('store_name')['order_amount'].apply(list)
CategoryGroupLists2=df_noon.groupby('store_name')['order_amount'].apply(list)
CategoryGroupLists3=df_afternoon.groupby('store_name')['order_amount'].apply(list)

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists1)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists2)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists3)
print('P-Value for Anova is: ', AnovaResults[1])

P-Value for Anova is:  1.599904285295541e-09
P-Value for Anova is:  1.8296837575860288e-05
P-Value for Anova is:  0.5218654310214677

## Narrowed down correlations - AMOUNT VS. TIME

### Per DAY

In [66]:
# define data
Monday = 'Monday'
Tuesday = 'Tuesday'
Wednesday = 'Wednesday'
Thursday = 'Thursday'
Friday = 'Friday'
Saturday = 'Saturday'
Sunday = 'Sunday'

# select only these data (for day, store, store name)
df_Monday = df_orders[df_orders["day"] == Monday]
df_Tuesday = df_orders[df_orders["day"] == Tuesday]
df_Wednesday = df_orders[df_orders["day"] == Wednesday]
df_Thursday = df_orders[df_orders["day"] == Thursday]
df_Friday = df_orders[df_orders["day"] == Friday]
df_Saturday = df_orders[df_orders["day"] == Saturday]
df_Sunday = df_orders[df_orders["day"] == Sunday]

In [70]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
  
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists1=df_Monday.groupby('time')['order_amount'].apply(list)
CategoryGroupLists2=df_Tuesday.groupby('time')['order_amount'].apply(list)
CategoryGroupLists3=df_Wednesday.groupby('time')['order_amount'].apply(list)
CategoryGroupLists4=df_Thursday.groupby('time')['order_amount'].apply(list)
CategoryGroupLists5=df_Friday.groupby('time')['order_amount'].apply(list)
CategoryGroupLists6=df_Saturday.groupby('time')['order_amount'].apply(list)
CategoryGroupLists7=df_Sunday.groupby('time')['order_amount'].apply(list)

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists1)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists2)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists3)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists4)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists5)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists6)
print('P-Value for Anova is: ', AnovaResults[1])
# AnovaResults = f_oneway(*CategoryGroupLists7)
# print('P-Value for Anova is: ', AnovaResults[1])

P-Value for Anova is:  0.0022835615790493206
P-Value for Anova is:  0.6261317338162065
P-Value for Anova is:  0.3492404263034027
P-Value for Anova is:  0.4887942399350979
P-Value for Anova is:  nan
P-Value for Anova is:  0.6028941230718149

### Per STORE TYPE

In [103]:
# to select only one
storet1 = 'supermarket'
storet2 = 'butcher'
storet3 = 'bakery'
storet4 = 'drugstore'
storet5 = 'furniture store'

# select only these data for the df
df_storet1 = df_orders[df_orders['store_type'] == storet1]
df_storet2 = df_orders[df_orders['store_type'] == storet2]
df_storet3 = df_orders[df_orders['store_type'] == storet3]
df_storet4 = df_orders[df_orders['store_type'] == storet4]
df_storet5 = df_orders[df_orders['store_type'] == storet5]

In [104]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
  
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists1=df_storet1.groupby('time')['order_amount'].apply(list)
CategoryGroupLists2=df_storet2.groupby('time')['order_amount'].apply(list)
CategoryGroupLists3=df_storet3.groupby('time')['order_amount'].apply(list)
CategoryGroupLists4=df_storet4.groupby('time')['order_amount'].apply(list)
CategoryGroupLists5=df_storet5.groupby('time')['order_amount'].apply(list)


# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists1)
print('SUPERMARKET P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists2)
print('BUTCHER P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists3)
print('BAKERY P-Value for Anova is: ', AnovaResults[1])
# AnovaResults = f_oneway(*CategoryGroupLists4)
# print('DRUGSTORE P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists4)
# AnovaResults = f_oneway(*CategoryGroupLists5)
# print('DRUGSTORE P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists5)

SUPERMARKET P-Value for Anova is:  0.0018880151092093545
BUTCHER P-Value for Anova is:  0.42264973081037427
BAKERY P-Value for Anova is:  0.6690039160048643
time
afternoon    [3]
Name: order_amount, dtype: object
time
morning    [2]
Name: order_amount, dtype: object

### Per STORE NAME

In [80]:
# to select only one
store1 = 'Albert Heijn'
store2 = 'Sys'
store3 = 'Okay'
store4 = 'Delhaize'
store5 = 'Versavel Poelman'
store6 = 'Kruidvat'
store7 = 'Brabo'
store8 = 'Ikea'
store9 = 'Carrefour'

# select only these data for the df
df_store1 = df_orders[df_orders['store_name'] == store1]
df_store2 = df_orders[df_orders['store_name'] == store2]
df_store3 = df_orders[df_orders['store_name'] == store3]
df_store4 = df_orders[df_orders['store_name'] == store4]
df_store5 = df_orders[df_orders['store_name'] == store5]
df_store6 = df_orders[df_orders['store_name'] == store6]
df_store7 = df_orders[df_orders['store_name'] == store7]
df_store8 = df_orders[df_orders['store_name'] == store8]
df_store9 = df_orders[df_orders['store_name'] == store9]

In [95]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
  
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists1=df_store1.groupby('time')['order_amount'].apply(list)
CategoryGroupLists2=df_store2.groupby('time')['order_amount'].apply(list)
CategoryGroupLists3=df_store3.groupby('time')['order_amount'].apply(list)
CategoryGroupLists4=df_store4.groupby('time')['order_amount'].apply(list)
CategoryGroupLists5=df_store5.groupby('time')['order_amount'].apply(list)
CategoryGroupLists6=df_store6.groupby('time')['order_amount'].apply(list)
CategoryGroupLists7=df_store7.groupby('time')['order_amount'].apply(list)
CategoryGroupLists8=df_store8.groupby('time')['order_amount'].apply(list)
CategoryGroupLists9=df_store9.groupby('time')['order_amount'].apply(list)


# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists1)
print('AH P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists2)
print('SYS P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists3)
print('OKAY P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists4)
print('DELHAIZE P-Value for Anova is: ', AnovaResults[1])
# AnovaResults = f_oneway(*CategoryGroupLists5)
# print('VERSAVEL P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists5)
# AnovaResults = f_oneway(*CategoryGroupLists6)
# print('KRUIDVAT P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists6)
# AnovaResults = f_oneway(*CategoryGroupLists7)
# print('BRABO P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists7)
# AnovaResults = f_oneway(*CategoryGroupLists8)
# print('IKEA P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists8)
# AnovaResults = f_oneway(*CategoryGroupLists9)
# print('CARREFOUR P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists9)

AH P-Value for Anova is:  6.475969673425588e-10
SYS P-Value for Anova is:  0.6690039160048643
OKAY P-Value for Anova is:  0.2576792516738969
DELHAIZE P-Value for Anova is:  0.0
time
morning    [7, 6, 7]
Name: order_amount, dtype: object
time
afternoon    [3]
Name: order_amount, dtype: object
time
afternoon    [6]
Name: order_amount, dtype: object
time
morning    [2]
Name: order_amount, dtype: object
time
afternoon    [31]
Name: order_amount, dtype: object

### Conclusion: order amount vs. store name (--vs. time)

- Can only be used for Albert Heijn

Filter all others on store name - filter AH on store name & time

# ORDER PRICE - Check the correlations

## General correlations

In [105]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
 
# Assumption(H0) is that amount and storeTYPE  are NOT correlated
 
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists=df_orders.groupby('store_type')['order_price'].apply(list)
print(CategoryGroupLists)

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists)
print('P-Value for Anova is: ', AnovaResults[1])

store_type
bakery             [7.7, 5.272, 6.1, 7.7, 5.0, 4.9, 5.0, 11.9, 5....
butcher                           [16.165, 20.0445, 15.414, 25.5715]
drugstore                                                    [18.13]
furniture store                                               [4.25]
supermarket        [68.31142, 16.77, 6.99, 103.32998, 3.99, 62.86...
Name: order_price, dtype: object
P-Value for Anova is:  0.08955120505938295

In [106]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
 
# Assumption(H0) is that amount and storeNAME  are NOT correlated
 
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists=df_orders.groupby('store_name')['order_price'].apply(list)
print(CategoryGroupLists)

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists)
print('P-Value for Anova is: ', AnovaResults[1])

store_name
Albert Heijn        [6.99, 3.99, 6.08, 5.49, 8.08, 8.08, 8.98, 7.3...
Brabo                                                       [20.0445]
Carrefour                                                  [68.31142]
Delhaize                                [103.32998, 114.87834, 90.16]
Ikea                                                           [4.25]
Kruidvat                                                      [18.13]
Okay                [16.77, 62.863083, 72.487014, 104.36096, 96.78...
Sys                 [7.7, 5.272, 6.1, 7.7, 5.0, 4.9, 5.0, 11.9, 5....
Versavel Poelman                            [16.165, 15.414, 25.5715]
Name: order_price, dtype: object
P-Value for Anova is:  9.226064091536042e-08

In [107]:
# aggregate afternoon and evening
df_orders['time'] = df_orders['time'].replace(['afternoon', 'evening'], 'afternoon')

# f_oneway() function takes the group data as input and returns F-statistic and P-value
 
# Assumption(H0) is that amount and TIME  are NOT correlated
 
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists=df_orders.groupby('time')['order_price'].apply(list)
print(CategoryGroupLists)

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists)
print('P-Value for Anova is: ', AnovaResults[1])

time
afternoon    [68.31142, 103.32998, 62.863083, 20.0445, 72.4...
morning      [7.7, 16.165, 5.272, 3.99, 7.7, 5.0, 6.08, 4.9...
noon         [16.77, 6.1, 6.99, 5.49, 8.08, 8.08, 8.98, 7.3...
Name: order_price, dtype: object
P-Value for Anova is:  0.01610355895308624

In [108]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
 
# Assumption(H0) is that amount and DAY  are NOT correlated
 
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists=df_orders.groupby('day')['order_price'].apply(list)
CategoryGroupLists

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists)
print('P-Value for Anova is: ', AnovaResults[1])

P-Value for Anova is:  0.7949830606132088

## Narrowed down correlations - ORDER PRICE VS. TIME

### Per DAY

In [109]:
# define data
Monday = 'Monday'
Tuesday = 'Tuesday'
Wednesday = 'Wednesday'
Thursday = 'Thursday'
Friday = 'Friday'
Saturday = 'Saturday'
Sunday = 'Sunday'

# select only these data (for day, store, store name)
df_Monday = df_orders[df_orders["day"] == Monday]
df_Tuesday = df_orders[df_orders["day"] == Tuesday]
df_Wednesday = df_orders[df_orders["day"] == Wednesday]
df_Thursday = df_orders[df_orders["day"] == Thursday]
df_Friday = df_orders[df_orders["day"] == Friday]
df_Saturday = df_orders[df_orders["day"] == Saturday]
df_Sunday = df_orders[df_orders["day"] == Sunday]

In [110]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
  
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists1=df_Monday.groupby('time')['order_price'].apply(list)
CategoryGroupLists2=df_Tuesday.groupby('time')['order_price'].apply(list)
CategoryGroupLists3=df_Wednesday.groupby('time')['order_price'].apply(list)
CategoryGroupLists4=df_Thursday.groupby('time')['order_price'].apply(list)
CategoryGroupLists5=df_Friday.groupby('time')['order_price'].apply(list)
CategoryGroupLists6=df_Saturday.groupby('time')['order_price'].apply(list)
CategoryGroupLists7=df_Sunday.groupby('time')['order_price'].apply(list)

# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists1)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists2)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists3)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists4)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists5)
print('P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists6)
print('P-Value for Anova is: ', AnovaResults[1])
# AnovaResults = f_oneway(*CategoryGroupLists7)
# print('P-Value for Anova is: ', AnovaResults[1])

P-Value for Anova is:  0.0036450956682666184
P-Value for Anova is:  0.7216357606528963
P-Value for Anova is:  0.7700264877157602
P-Value for Anova is:  0.42647922284650996
P-Value for Anova is:  nan
P-Value for Anova is:  0.7577250982197045

### Per STORE TYPE

In [111]:
# to select only one
storet1 = 'supermarket'
storet2 = 'butcher'
storet3 = 'bakery'
storet4 = 'drugstore'
storet5 = 'furniture store'

# select only these data for the df
df_storet1 = df_orders[df_orders['store_type'] == storet1]
df_storet2 = df_orders[df_orders['store_type'] == storet2]
df_storet3 = df_orders[df_orders['store_type'] == storet3]
df_storet4 = df_orders[df_orders['store_type'] == storet4]
df_storet5 = df_orders[df_orders['store_type'] == storet5]

In [115]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
  
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists1=df_storet1.groupby('time')['order_price'].apply(list)
CategoryGroupLists2=df_storet2.groupby('time')['order_price'].apply(list)
CategoryGroupLists3=df_storet3.groupby('time')['order_price'].apply(list)
CategoryGroupLists4=df_storet4.groupby('time')['order_price'].apply(list)
CategoryGroupLists5=df_storet5.groupby('time')['order_price'].apply(list)


# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists1)
print('SUPERMARKET P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists2)
print('BUTCHER P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists3)
print('BAKERY P-Value for Anova is: ', AnovaResults[1])
# AnovaResults = f_oneway(*CategoryGroupLists4)
# print('DRUGSTORE P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists4)
# AnovaResults = f_oneway(*CategoryGroupLists5)
# print('DRUGSTORE P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists5)

SUPERMARKET P-Value for Anova is:  0.003798864978949632
BUTCHER P-Value for Anova is:  0.8930393155583669
BAKERY P-Value for Anova is:  0.7657211895158796
time
afternoon    [18.13]
Name: order_price, dtype: object
time
morning    [4.25]
Name: order_price, dtype: object

### Per STORE NAME

In [116]:
# to select only one
store1 = 'Albert Heijn'
store2 = 'Sys'
store3 = 'Okay'
store4 = 'Delhaize'
store5 = 'Versavel Poelman'
store6 = 'Kruidvat'
store7 = 'Brabo'
store8 = 'Ikea'
store9 = 'Carrefour'

# select only these data for the df
df_store1 = df_orders[df_orders['store_name'] == store1]
df_store2 = df_orders[df_orders['store_name'] == store2]
df_store3 = df_orders[df_orders['store_name'] == store3]
df_store4 = df_orders[df_orders['store_name'] == store4]
df_store5 = df_orders[df_orders['store_name'] == store5]
df_store6 = df_orders[df_orders['store_name'] == store6]
df_store7 = df_orders[df_orders['store_name'] == store7]
df_store8 = df_orders[df_orders['store_name'] == store8]
df_store9 = df_orders[df_orders['store_name'] == store9]

In [117]:
# f_oneway() function takes the group data as input and returns F-statistic and P-value
  
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists1=df_store1.groupby('time')['order_price'].apply(list)
CategoryGroupLists2=df_store2.groupby('time')['order_price'].apply(list)
CategoryGroupLists3=df_store3.groupby('time')['order_price'].apply(list)
CategoryGroupLists4=df_store4.groupby('time')['order_price'].apply(list)
CategoryGroupLists5=df_store5.groupby('time')['order_price'].apply(list)
CategoryGroupLists6=df_store6.groupby('time')['order_price'].apply(list)
CategoryGroupLists7=df_store7.groupby('time')['order_price'].apply(list)
CategoryGroupLists8=df_store8.groupby('time')['order_price'].apply(list)
CategoryGroupLists9=df_store9.groupby('time')['order_price'].apply(list)


# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists1)
print('AH P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists2)
print('SYS P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists3)
print('OKAY P-Value for Anova is: ', AnovaResults[1])
AnovaResults = f_oneway(*CategoryGroupLists4)
print('DELHAIZE P-Value for Anova is: ', AnovaResults[1])
# AnovaResults = f_oneway(*CategoryGroupLists5)
# print('VERSAVEL P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists5)
# AnovaResults = f_oneway(*CategoryGroupLists6)
# print('KRUIDVAT P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists6)
# AnovaResults = f_oneway(*CategoryGroupLists7)
# print('BRABO P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists7)
# AnovaResults = f_oneway(*CategoryGroupLists8)
# print('IKEA P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists8)
# AnovaResults = f_oneway(*CategoryGroupLists9)
# print('CARREFOUR P-Value for Anova is: ', AnovaResults[1])
print(CategoryGroupLists9)

AH P-Value for Anova is:  1.8167502542833585e-08
SYS P-Value for Anova is:  0.7657211895158796
OKAY P-Value for Anova is:  0.13084685615955635
DELHAIZE P-Value for Anova is:  0.9758986299006994
time
morning    [16.165, 15.414, 25.5715]
Name: order_price, dtype: object
time
afternoon    [18.13]
Name: order_price, dtype: object
time
afternoon    [20.0445]
Name: order_price, dtype: object
time
morning    [4.25]
Name: order_price, dtype: object
time
afternoon    [68.31142]
Name: order_price, dtype: object

### Conclusion: order price vs. store name (--vs. time)

- Can only be used for Albert Heijn

Filter all others on store name - filter AH on store name & time